#res {
    background: #fff;
    height: 400px;
    width: 800px;
    box-sizing: border-box;
    /* border: 1px solid rgb(63, 63, 63); */
    border-radius: 0;
    position: absolute;
    top: 14%;
    right: 14%;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%);
    overflow-y: hidden;
    padding: 25px;
    z-index: 34;
}
#res1 {
    background: #fff;
    height: 330px;
    width: 800px;
    box-sizing: border-box;
    /* border: 1px solid rgb(63, 63, 63); */
    border-radius: 0;
    position: absolute;
    top: 81px;
    right: 0;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%);
    overflow-y: hidden;
    padding: 25px;
    z-index: 34;
}
#res2 {
  background: #fff;
  height: 330px;
  width: 800px;
  box-sizing: border-box;
  /* border: 1px solid rgb(63, 63, 63); */
  border-radius: 0;
  position: absolute;
  top: 81px;
  left: 0;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%);
  overflow-y: hidden;
  padding: 25px;
  z-index: 34;
}

#res3 {
  background: #fff;
  height: 330px;
  width: 800px;
  box-sizing: border-box;
  /* border: 1px solid rgb(63, 63, 63); */
  border-radius: 0;
  position: absolute;
  bottom: -331px;
  left: 0;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%);
  overflow-y: hidden;
  padding: 25px;
  z-index: 34;
}
#res5 {
  background: #fff;
  height: 400px;
  width: 800px;
  box-sizing: border-box;
  /* border: 1px solid rgb(63, 63, 63); */
  border-radius: 0;
  position: absolute;
  top: 81px;
  right: 0;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%);
  overflow-y: hidden;
  padding: 25px;
  z-index: 34;
}
.searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    height:50px;
    float:right;
    overflow:hidden;    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#dcddd8;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:20px;
    color: #000;
}
.searchbox-input::-webkit-input-placeholder {
    color: #000;
    opacity:0.8;
}
.searchbox-input:-moz-placeholder {
        color: #000;
    opacity:0.8;
}
.searchbox-input::-moz-placeholder {
    color: #000;
opacity:0.8;
}
.searchbox-input:-ms-input-placeholder {
    color: #000;
opacity:0.8;
}
.searchbox-icon,
.searchbox-submit{
    width:50px;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8;
    background:#172b3c;
}



.searchbox-open{
    width:100%;
}


.searchBar {
    width: 802px;
    height: 51px;
    box-sizing: border-box;
    position: absolute;
    top: 70%;
    /*border: 1px solid rgb(63, 63, 63);*/
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
}

.searchBarInput {
    position: absolute;
    width: 701px;
    height: 51px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    padding: 0 8px;
    font-size: 30px;
    outline: none;
    
}

.iconSearchContainer {
    background:#c0c2c0;
    position: absolute;
    width: 101px;
    height: 51px;
    box-sizing: border-box;
    left: 701px;
    border: none;
    /*border-left: 1px solid black;*/
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.iconSearchContainer:hover {
    background: black;
    color: white;
    cursor: pointer;
}

#res {
    background: #fff;
    height: 400px;
    width: 800px;
    box-sizing: border-box;
    /* border: 1px solid rgb(63, 63, 63); */
    border-radius: 0;
    position: absolute;
    top: 14%;
    right: 14%;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%);
    overflow-y: hidden;
    padding: 25px;
    z-index: 34;
}

#res .liEls {
  width: 100%;
  height: 100px;
  display: flex;
  border-radius: inherit;
  cursor: pointer;
}

#res .liEls:hover {
  background: rgba(207,208,209,0.3);
}

#res .liEls img {
  margin-left: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#res .liEls .desc {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

#res .liEls .desc .title {
  margin: 0;
  height: 20px;
  box-sizing: border-box;
}

#res .liEls .desc .author {
  margin: 0;
  font-size: 10px;
  height: 15px;
  box-sizing: border-box;
}

#res .liEls .desc .summary {
  margin: 0;
  position: relative;
  font-size: 13px;
  height: 50px;
  max-width: 500px;
  overflow: hidden;
  line-height: 1;
}

#res .liEls .desc .summary .content {
  max-height: 50px;
  overflow: hidden;
}

#res .liEls .desc .summary .fadeout {
  display: block;
  position: absolute;
  cursor: pointer;
  box-sizing: border;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 50px;
  background: -webkit-linear-gradient(rgba(237,239,240,0) 42px, #ffffff 48px);
  transition: background 150ms ease-in;
}

#res .liEls .desc .rating {
  margin: 0;
  font-size: 13px;
  height: 15px;
}
.hideResults {
    display: none;
}


#res1 .liEls {
  width: 100%;
  height: 100px;
  display: flex;
  border-radius: inherit;
  cursor: pointer;
}

#res1 .liEls:hover {
  background: rgba(207,208,209,0.3);
}

#res1 .liEls img {
  margin-left: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#res1 .liEls .desc {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

#res1 .liEls .desc .title {
  margin: 0;
  height: 20px;
  box-sizing: border-box;
}

#res1 .liEls .desc .author {
  margin: 0;
  font-size: 10px;
  height: 15px;
  box-sizing: border-box;
}

#res1 .liEls .desc .summary {
  margin: 0;
  position: relative;
  font-size: 13px;
  height: 50px;
  max-width: 500px;
  overflow: hidden;
  line-height: 1;
}

#res1 .liEls .desc .summary .content {
  max-height: 50px;
  overflow: hidden;
}

#res1 .liEls .desc .summary .fadeout {
  display: block;
  position: absolute;
  cursor: pointer;
  box-sizing: border;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 50px;
  background: -webkit-linear-gradient(rgba(237,239,240,0) 42px, #ffffff 48px);
  transition: background 150ms ease-in;
}

#res1 .liEls .desc .rating {
  margin: 0;
  font-size: 13px;
  height: 15px;
}
.hideResults1 {
    display: none;
}

/*Res3 Start*/



#res3 .liEls {
  width: 100%;
  height: 100px;
  display: flex;
  border-radius: inherit;
  cursor: pointer;
}

#res3 .liEls:hover {
  background: rgba(207,208,209,0.3);
}

#res3 .liEls img {
  margin-left: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#res3 .liEls .desc {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

#res3 .liEls .desc .title {
  margin: 0;
  height: 20px;
  box-sizing: border-box;
}

#res3 .liEls .desc .author {
  margin: 0;
  font-size: 10px;
  height: 15px;
  box-sizing: border-box;
}

#res3 .liEls .desc .summary {
  margin: 0;
  position: relative;
  font-size: 13px;
  height: 50px;
  max-width: 500px;
  overflow: hidden;
  line-height: 1;
}

#res3 .liEls .desc .summary .content {
  max-height: 50px;
  overflow: hidden;
}

#res3 .liEls .desc .summary .fadeout {
  display: block;
  position: absolute;
  cursor: pointer;
  box-sizing: border;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 50px;
  background: -webkit-linear-gradient(rgba(237,239,240,0) 42px, #ffffff 48px);
  transition: background 150ms ease-in;
}

#res3 .liEls .desc .rating {
  margin: 0;
  font-size: 13px;
  height: 15px;
}
.hideResults3 {
    display: none;
}

/*Res3 End*/
/*res5*/
#res5 .liEls {
  width: 100%;
  height: 100px;
  display: flex;
  border-radius: inherit;
  cursor: pointer;
}

#res5 .liEls:hover {
  background: rgba(207,208,209,0.3);
}

#res5 .liEls img {
  margin-left: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#res5 .liEls .desc {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

#res5 .liEls .desc .title {
  margin: 0;
  height: 20px;
  box-sizing: border-box;
}

#res5 .liEls .desc .author {
  margin: 0;
  font-size: 10px;
  height: 15px;
  box-sizing: border-box;
}

#res5 .liEls .desc .summary {
  margin: 0;
  position: relative;
  font-size: 13px;
  height: 50px;
  max-width: 500px;
  overflow: hidden;
  line-height: 1;
}

#res5 .liEls .desc .summary .content {
  max-height: 50px;
  overflow: hidden;
}

#res5 .liEls .desc .summary .fadeout {
  display: block;
  position: absolute;
  cursor: pointer;
  box-sizing: border;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 50px;
  background: -webkit-linear-gradient(rgba(237,239,240,0) 42px, #ffffff 48px);
  transition: background 150ms ease-in;
}

#res5 .liEls .desc .rating {
  margin: 0;
  font-size: 13px;
  height: 15px;
}
.hideResults5 {
    display: none;
}


.search {
    margin: auto;
    
    width: 45px;
    height: 45px;
    background: #f2f2f2;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
}
.searchbar1 .search:hover {
    cursor: pointer;
}
.searchbar1 .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 11px;
    width: 9px;
    height: 1px;
    background: black;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.searchbar1 .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    transition: all 0.5s;
}
.searchbar1 input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #f2f2f2;
    color: 000;
    text-shadow: 0 0 10px #f2f2f2;
    padding: 0 50px 0 20px;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-size: 14px;
}
.searchbar1 input:hover {
    cursor: pointer;
}
.searchbar1 input:focus {
    width: 800px;
    opacity: 1;
    cursor: text;
}
.searchbar1 input:focus ~ .search {
    right: -250px;
    background: #f2f2f2;
    z-index: 6;
}
.searchbar1 input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
    z-index: 5;
}
.searchbar1 input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 1px;
    border: none;
    background: #000;
    border-radius: 0%;
    transform: rotate(-45deg);
    z-index: 5;
}
.searchbar1 input::placeholder {
    color: #000;
    opacity: 0.5;
    font-weight: bolder;
}
.searchbar1{
    position: relative;
}
.organization-box ul li a,.reports-search-box ul li a {
    width: 100%;
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 10px 0;
    color: #000;
    background: transparent;
}
.organization-box ul,.reports-search-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow-y: scroll;
}
.organization-box ul li {
    padding: 7px 0;
}
.reports-search-box ul li {
    padding: 20px 0;
    border-bottom: 1px solid #f3f3f3;
}
.reports-search-box ul li a p{
    padding: 0;
    margin: 0;
}
/*ul.search-call-icon li {
    margin-right: 5px;
}*/



.find-rate-searchbar .searchBarInput {
    position: initial;
    width: 100%;
    height: 80px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    padding: 0 8px;
    font-size: 18px;
    outline: none;
}
.input-find-rating {
    position: relative;
}









/* CAREERS CSS START	 */
a.btn.view-opening {
  font: normal normal 500 18px/23px proxima_novaregular;
  letter-spacing: -0.54px;
  color: #00D3C3;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: underline;
}


a.btn.view-opening {
  font: normal normal 500 18px/23px proxima_novaregular;
  letter-spacing: -0.54px;
  color: #00D3C3;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: underline;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.careers-dropdown .dropdown-toggle {
  background: transparent;
  color: #fff;
  border-color: var(--primary_color);
}

.careers-dropdown .dropdown-menu {
  border: none;
  width: 169px;
  margin-top: -5px;
}

.careers-dropdown .dropdown-menu li:not(:last-child) a {
  border-bottom-color: var(--primary_color);
  /* color: var(--primary_color); */
}

.careers-dropdown .dropdown-menu li:not(:last-child) a.active {
  color: #000;
}

.sub-head{text-align: left;
  font: normal normal normal 24px/34px proxima_novaregular;
  letter-spacing: -0.72px;
  color: #000000;
  opacity: 1;
}
.card-body2 {
  position: absolute;
}

.pl13{padding-left: 13px;}

.why-work-with-us-sec .activity-list li:not(:last-child) {
  border-bottom: 1px solid rgb(0 0 0 / 40%);
}

.why-work-with-us-sec .activity-list li p {
  /* font: normal normal 100 24px/34px proxima_novaregular; */
  font-family: gotham-book;
  letter-spacing: -0.72px;
  color: #000000;
  opacity: 0.7;
}

.why-work-with-us-sec .activity-list li span {
  background: var(--primary_color);
  color: #fff;
}
.programs-caredge-sec .accordian-style-1 .accordion-button {
  font-size: 20px;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  padding: 0;
  padding: 10px 0;
}
.programs-caredge-sec .accordian-style-1 .accordion-item {
  border: none;
  background-color: transparent;
}
.programs-caredge-sec .accordion-button {
  border-bottom: 1px solid #000000;
  background-color: transparent;
}
.programs-caredge-sec .accordian-style-1 .accordion-body p {
  font-size: 16px;
  margin: 0 0 49px 0;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  line-height: 22px;
}
.programs-caredge-sec .accordian-style-1 .accordion-body {
  padding: 0;
  padding: 25px 50px 20px 0;
}
.programs-caredge-sec .accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: rotate(0);
}
.programs-caredge-sec .accordian-style-1 .accordion-button::after {
  background-color: transparent !important;
}
.accordian-style-1 .accordion-button:not(.collapsed)::after {
  background-image: url(../images/minus.svg);
  background-color: transparent;
  border: 1px solid var(--secondary_color);
}
.programs-caredge-sec .accordion-button::after {
  content: '\f106';
  font-family: FontAwesome;
  background-image: none !important;
  border: none !important;
  font-weight: bold;
  background-color: transparent !important;
  transition: transform 0.2s ease-in-out;
}
.programs-caredge-sec .accordian-style-1 .accordion-button::after {
  background-color: transparent !important;
}
.programs-caredge-sec .accordion-button.collapsed::after {
  content: '\f107';
  transition: transform 0.2s ease-in-out;
}
.text-left {
  text-align: left;
}
.career_searchBar{
  height: 80px !important;
  margin-bottom: 30px;
}
.career_searchBar form {
  height: 100%;
  display: flex;
  position: relative;
}
.career_searchBar .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

/* CAREERS CSS END	 */

/*job listing css start*/
.current-opening #portfolio-rate {
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 25px;
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100% !important;
}
.text-16 {
  font-size: 1rem;
}
.job-listing-parent-sec form .company-name {
  width: 50%;
}
.find-ratings.job-listing-parent-sec .dropdown-menu-outiline .dropdown-toggle {
  border: none;
  font-size: 14px;
  letter-spacing: -0.42px;
  color: #00D3C3;
  text-transform: uppercase;
  padding: 10px 20px;
}
.find-ratings.job-listing-parent-sec .dropdown-menu-outiline .dropdown-menu li:not(:last-child) a {
  border-bottom: 1px solid #00d3c3;
}
.find-ratings.job-listing-parent-sec .dropdown-menu-outiline .dropdown-menu li a {
  padding: 15px 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #00D3C3;
}
/*job listing css End*/


/*pagination css start*/
.pagination-div {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.pagination-div ul {
  margin: 0;
  align-items: center;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.pagination-div li.page-item {
  margin: 0 10px;
}
.pagination-div .page-item:first-child .page-link, .page-item:last-child .page-link {
  border-radius: 50px;
  width: 44px;
  height: 44px;
  background: #00D3C3 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
}
.pagination-div a.page-link.active {
  color: #FFFFFF;
  background: #1C304C 0% 0% no-repeat padding-box;
  border-radius: 50px;
}
.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}
.pagination-div a.page-link {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  opacity: 1;
  font: normal normal normal 16px/1.3 'proxima_novaregular';
  letter-spacing: 0px;
  color: #1C304C;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 50px;
}
/*pagination css End*/

/*JOb description css start*/
span img.job-dec-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  object-fit: contain;
}
.jumbotron.job-desc-breadcrumb {
  height: 37vw;
}
.share-job-btn {
  border: 1px solid #00D3C3;
  color: #00D3C3;
}
.job-desc .activity-list {
  justify-content: flex-start;
}
.job-desc .activity-list ul {
  list-style: none;
  padding: 0;
}
.job-desc .activity-list li:not(:last-child) {
  border-bottom: 1px solid rgb(0 211 195);
}
.job-desc .activity-list li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.job-desc .activity-list li {
  font-size: 1.5em;
  color: #fff;
  display: flex;
  padding: 50px 0;
}
.job-desc .activity-list li p {
  color: #000;
  opacity: 0.7;
  min-height: 80px;
}
.job-desc .activity-list li span, .why-choose-us-sec .activity-list li span {
  background: var(--primary_color);
}
.job-desc .activity-list li span, .why-choose-us-sec .activity-list li span {
  color: #fff;
}
.job-desc .activity-list li span {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
}
.job-desc .activity-list {
  padding: 10% 12% 0 0;
  height: 100%;
}
section.job-desc1:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: auto;
  top: -18%;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../images/join-our-panel.png);
  z-index: -9;
  background-repeat: no-repeat;
  background-size: cover;
}
section.job-desc1 {
  position: relative;
  padding: 100px 0;
}
.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  margin: 0;
  color: #1C304C;
  background: #ffffff;
  border: none;
  padding: 18px 50px;
  transition: all .2s ease;
  outline: none;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: left;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 1px dashed #fff;
  position: relative;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
  margin-top: 20px;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  border: none !important;
  padding: 0;
  margin: 0;
  padding: 15px;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  margin: 0;
  color: #fff;
  background: transparent;
  border: none;
  padding: 18px;
  border: 1px dashed #fff;
  transition: all .2s ease;
  outline: none;
  text-transform: capitalize;
  font-weight: 500;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
span.or-text {
  padding: 15px 35px 15px 15px;
  color: #fff;
  letter-spacing: -0.42px;
  font-size: 14px;
}
/*JOb description css End*/
/*Support page css start*/
.support-parent-section .rating-process-support,.support-parent-section .rating-process-support1{
  padding: 200px 80px 50px;
}
p.pad-right-250 {
  padding-right: 250px;
}

.additional-query-section .card.card-style-1 {
  background-color: #1C304C;
  border-radius: 0;
  padding: 40px;
  aspect-ratio: 4/3;
  -webkit-aspect-ratio: 1;
}
.rating-process-support{
  background-image: url(../images/rating-process-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.rating-process-support1{
  background-image: url(../images/media-queries.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.additional-query-section .hang-boxes {
  margin-bottom: -0;
  padding-top: 30px;
}
.additional-query-section .hang-boxes .card.card-style-1 {
  margin-right: 0;
}
.card-style-design-4 {
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  gap: 1px;
}

span img.job-dec-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  object-fit: contain;
}
.jumbotron.job-desc-breadcrumb {
  height: 37vw;
}
.support-care-section div.swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.additional-1 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.additional-query-section .add-box1 .card.card-style-1:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.add-box1 .card.card-style-1 {
  background-image: url(../images/additional-queries.png);
  background-repeat: no-repeat;
  transform: scale(1);
  transition: all 0.5s ease;
  background-size: cover;
}
.additional-query-section .card.card-style-1 {
  background-color: #1C304C;
  border-radius: 0;
  padding: 40px;
  aspect-ratio: 4/3;
  -webkit-aspect-ratio: 1;
}
.support-care-section div#pills-tabContent {
  position: relative;
  padding: 100px 65px;
  height: 100%;
  min-height: fit-content;
}
.support-care-section .card.card-style-1 {
  border: none;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.card.card-style-1 {
  background-color: #1C304C;
  border-radius: 0;
  padding: 30px;
  aspect-ratio: 1;
  -webkit-aspect-ratio: 1;
}
.hvr-bounce-to-bottom {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /* box-shadow: 0 0 1px rgb(0 0 0 / 0%); */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:hover .support-care-text p {
  color: #fff !important;
}
.arrow-link, .arrow-link svg path, .arrow-link svg line, .card-style-1 .heading-3 {
  transition: 0.5s;
}
.support-care-text p {
  color: var(--secondary_color) !important;
}
.support-care-text p {
  color: var(--secondary_color) !important;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00D3C3;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/*Support page css End*/

/* FAQ css start*/

/* FAQ css End*/
#faq-tab .btn.active {
  background-color: #1C304C;
  color: #fff;
}
#faq-tab .btn:first-child {
  margin-right: 0;
  margin-left: 0;
}
#faq-tab .btn {
  border: 1px solid #1C304C;
  color: #1C304C;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 30px;
  margin: 0 20px;
}
section.faq-tab-sec .accordian-style-1.style-2.accordion.filterDiv.show {
  display: block;
}
section.faq-tab-sec .accordian-style-1.style-2.accordion.filterDiv {
  display: none;
}
.career-page-social-sec .commons-slider-3.left-space-sldier .slick-slide {
  background-color: #f5f5f5;
}
.form-style-1 .form-select {
  padding: 16px 10px !important;
}

.job-desc .activity-list li:not(:last-child) {
  border-bottom: 1px solid rgb(0 211 195);
}
.find-ratings-details-page .press-relase-sec .press-relase-slider .item p.heading-3{
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all 0.3s ease-in-out;
    will-change: transform;
}
.find-ratings-details-page .press-relase-sec .press-relase-slider .item:hover p.heading-3{
    -webkit-line-clamp: 10;
    transition: all 0.3s ease-in-out;
    will-change: transform;
}
.find-ratings-details-page .rat1 .swiper-2 .swiper-slide p.heading-3{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease-in-out;
  will-change: transform;
}
.find-ratings-details-page .rat1 .swiper-2 .swiper-slide:hover p.heading-3{
  -webkit-line-clamp: 10;
  transition: all 0.3s ease-in-out;
  will-change: transform;
}
#job-listing-find-pos .card .card-body p{
  color: #00D3C3 !important;
}
#msform form:not(:first-of-type) {
  display: none;
}
.login-otp div.digit-group1 input {
  width: 45px !important;
  height: 45px;
  background-color: rgb(255 255 255 / 50%);
  border: none !important;
  line-height: 50px;
  text-align: center;
  font-size: 24px !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 200;
  color: black !important;
  margin: 25px 3px 0;
  border: 1px solid #00d3c3 !important;
}
.login-otp  h6 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  font-family: 'proxima_novaregular'!important;
  padding: 15px 0;
}
select#RRYear_Id {
  background-color: #fff;
  border: 1px solid #1c304c !important;
  color: #1c304c;
  padding: 12px 20px;
    transition: .5s;
    min-width: 160px;
  border-radius: 0;
}
select#RRYear_Id:after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid #000;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.press-relase-sec .press-relase-slider .item p.heading-3,.similar-sector-sec .similar-sector-sldier .item p.heading-3,.rat1 .swiper-mainrr .card p.heading-3,.similar-sector-sec .item .card p.heading-3,section.rating-list-iner-idbi .item .card p.heading-3,section.reports-sec .item .card p.heading-3{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease-in-out;
  will-change: transform;
}
.press-relase-sec .press-relase-slider .item:hover p.heading-3,.similar-sector-sec .similar-sector-sldier .item:hover p.heading-3,.rat1 .swiper-mainrr .card:hover p.heading-3,.similar-sector-sec .item .card:hover p.heading-3,section.rating-list-iner-idbi .item .card:hover p.heading-3,section.reports-sec .item .card:hover p.heading-3{
  -webkit-line-clamp: 10;
  transition: all 0.3s ease-in-out;
  will-change: transform;
}

/**/
.press-relase-sec .empInput.form-control{
  background-color: #fff;
  border: 1px solid #1C304C !important;
  color: #1C304C;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;   
  /* width: 100%; */
  padding: 12px 10px;
}

.press-relase-sec #renderHtmlCompanyPRDocumentYearSection{
  width: 100%;
  position: relative;
}

.press-relase-sec .empInput.form-control option{
  background: #fff;
  transition: all .5s ease-in-out;
}

.press-relase-sec .empInput.form-control option:hover{
  background-color: #000 !important;
  transition: all .5s ease-in-out;
}

.press-relase-sec #renderHtmlCompanyPRDocumentYearSection::before{
  content: "\f078";
  font-family: FontAwesome;
  font-size: 12px;
  transition: all 0.5s ease-in-out;
  color: #000;
  position: absolute;
  right: 10px;
  top: 17px;
}

.press-relase-sec #renderHtmlCompanyPRDocumentYearSection.aroowRotate::before{
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}

/*Media Query*/
@media (max-width: 1366px){
  .reports-sec p.heading-3 {
    font-size: 14px;
  }
  .card.card-style-1 {
    padding: 10px 20px;
  }
  .card.card-style-1 .card-body {
    /* min-height: 150px; */
    min-height: 200px;
  }
  .job-desc .activity-list li p {
    color: #000;
    opacity: 0.7;
    min-height: 105px;
}
.inner-banner>.banner-content {
    width: 100%;
}
.career-work .activity-list {
  justify-content: flex-start;
  padding: 10% 3%;
}
.career-work .activity-list li {
  min-height: 200px;
}
.contact-form {
  padding: 30px 10px !important;
} 
#portfolio-rate {
  grid-template-columns: repeat(3, 1fr) !important;
}
p.pad-right-250 {
  padding-right: 40px;
}
.support-care-section h2.heading-1 {
  font-size: 3.5em;
}
.support-care-section div#pills-tabContent {
  padding: 12px 65px;
}
.credit-risk-tab-support .card.card-style-1 {
  min-height: 265px;
}
}


@media (max-width: 1024px){
.career_searchBar form {
    flex-wrap: wrap;
}
a.btn.view-opening {
  margin-top: 30px;
}
.breadcrumb-career-sec {
  height: 680px !important;
}
#portfolio-rate {
  grid-template-columns: repeat(2, 1fr) !important;
}
.jumbotron.job-desc-breadcrumb {
  height: 75vw !important;
}
.support-parent-section .rating-process-support, .support-parent-section .rating-process-support1 {
  padding: 100px 40px 50px;
}
.additional-1 {
  grid-template-columns: repeat(2,1fr);
}
.additional-query-section .card.card-style-1 {
  padding: 20px;
}
.w-1024-100 {
  width: 100% !important;
}
.card-style-design-4 {
  gap: 1px;
}
}



@media (min-width: 992px){

  .career-work .activity-list ul {
    width: 90%;
}
.job-desc .activity-list ul {
  width: 90%;
}
}

@media (max-width: 767px){
  .job-desc .activity-list li p {
    min-height: auto;
}
  .job-desc .activity-list li {
    border-bottom: 1px solid rgb(0 211 195) !important;
}
.breadcrumb-career-sec {
    height: 780px !important;
}
.search-input {
  width: 100%;
}
.breadcrumb-career-sec a.btn.btn-primary.find-rating {
  padding: 10px 50px;
  line-height: 30px;
  margin-top: 10px;
}
a.btn.view-opening {
  margin-top: 30px;
}
.contact-form {
  padding: 30px 10px !important;
}
.jumbotron.job-desc-breadcrumb {
  height: auto !important;
}
.share-job-btn, .apply-btn {
  border: 1px solid #00D3C3;
  min-width: auto;
}
.job-desc-img {
  margin-top: 15px;
}
.job-desc .activity-list {
  padding: 10% 0% 0 0;
  height: 100%;
}
.support-parent-section .rating-process-support, .support-parent-section .rating-process-support1 {
  padding: 40px 22px 40px;
}
p.pad-right-250 {
  padding-right: 0px;
}
.heading-1 {
  font-size: 40px;
}
.additional-1 {
  grid-template-columns: repeat(1,1fr); 
}
.card-style-design-4 {
  grid-template-columns: repeat(1,1fr);
}
.support-care-section div#pills-tabContent {
  padding: 12px 40px;
}
#faq-tab .btn {
  margin: 0;
  width: 90%;
}
}

@media (max-width: 479px){
#portfolio-rate {
    grid-template-columns: repeat(1, 1fr) !important;
}
.job-desc-breadcrumb .heading-3.text-white {
  margin: 0rem 0;
}
}








.form-career-page{
  height: 100%;
display: flex;
position: relative;
}

#parsley-id-27 {
  display: block;
  position: absolute;
  bottom: -50px;
  left: 0;
}
.payment-sum-sec .accordion-header .acc-head a svg {
  margin-top: 15px;
}

@media (max-width:1024px){
  .form-career-page{
    flex-wrap: wrap;
  }
  .form-career-page .btn.btn-primary.find-rating{
    margin-top: 40px;
  }
  #parsley-id-27 {
    bottom: -30px;
  }
}
