:root {
    --primary_color: #00d3c3;
    --secondary_color: #1C304C
}


::selection {
    color: #fff;
    background: var(--primary_color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary_color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table-responsive::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: var(--primary_color);
    border-radius: 10px;

}


.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.text-primary {
    color: var(--primary_color) !important;
}

.bg-grey {
    background-color: #E9E9E9;
}

.bg-grey-100 {
    background-color: #F5F5F5;
}

p {
    line-height: 1.5;

}

.para {
    font-size: 1.500em;

}
.para {
    font-size: 1.125em;

}

@font-face {

    font-family: 'proxima_novabold';
    src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
        url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;



}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
        url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff'),
        url('../fonts/proxima_nova_extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
        url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: proxima_nova_altlight;
    src: url(../fonts/proxima_nova_alt_light-webfont.woff2) format('woff2'), url(../fonts/proxima_nova_alt_light-webfont.woff) format('woff'), url(../fonts/proxima_nova_alt_light-webfont.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

/* Gotham font family */

@font-face {
    font-family: gotham-black;
    src: url(../fonts/gotham-black.woff) format('woff'),
    url(../fonts/gotham-black.woff2) format('woff2'),
    url(../fonts/gotham-black.otf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: gotham-bold;
    src:url(../fonts/gotham-bold.woff) format('woff'),
    url(../fonts/gotham-bold.woff2) format('woff2'),
     url(../fonts/gotham-bold.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: gotham-book;    
    src: url(../fonts/Gotham-Book.woff) format('woff'),
     url(../fonts/Gotham-Book.woff2) format('woff2'),
     url(../fonts/gotham-book.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: gotham-light;
    src:url(../fonts/gotham-light.woff) format('woff'),
    url(../fonts/gotham-light.woff2) format('woff2'),
    url(../fonts/gotham-light.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: gotham-medium;
    src: url(../fonts/gotham-medium.woff) format('woff'),
    url(../fonts/gotham-medium.woff2) format('woff2'),
    url(../fonts/gotham-medium.svg#gothammedium) format('svg'),
    url(../fonts/gotham-medium.ttf) format("truetype");
    font-display: swap;
}



body {
    /*font-family: 'proxima_novaregular';*/
    font-family: gotham-book;
    line-height: initial;
    color: #0A1E2E;
    font-size: 85%;
}

.font-bold {
    /* font-family: 'proxima_novabold' !important; */
    font-family: gotham-bold !important;;
}

.font-semi-bold {
    /* font-family: 'ProximaNova-Semibold' !important; */
    font-family: gotham-black !important;
}

.font-regular {
    /* font-family: 'proxima_novaregular' !important; */
    font-family: gotham-medium !important;
}

.font-light {
    /* font-family: 'proxima_nova_altlight' !important; */
    font-family: gotham-light !important;
}

.container-fluid {
    padding-left: 4%;
    padding-right: 4%;
}

a {
    text-decoration: none;
}

.heading-1 {
    font-size: 3.625em;
    /* margin-bottom: 20px; 
    margin-bottom: 50px;
    font-family: 'proxima_novabold';*/
    font-family: gotham-bold;
    line-height: 1;
}
.care-edge-slider-new .heading-1, .rating-list-iner-idbi .heading-1{
    margin-bottom: 50px;
}

.text-black,
.text-dark {
    color: #0A1E2E;

}

.text-grey {
    color: #ADB0B1;
}

.heading-2 {
    font-size: 2.25em;


}

.heading-3 {
    font-size: 1.5em;
    line-height: 1.2;

}

.heading-5 {
    font-size: 18px;
    line-height: 1.1;
}

.heading-6 {
    font-size: 1.125em;
    line-height: 1.3;

}

.text-small {
    font-size: 12px;
}

.reports-sec .fr_date_php{
    font-size: 16px;
    font-weight: 900;
    color: #ffffffab;
}

.text-light {
    color: #FFFFFF;
    opacity: 0.5;
}

.text-grey {
    color: #ADB0B1;
}

.btn-link {
    /*font-family: 'proxima_novabold';*/
    font-family: gotham-bold;
}

.btn-link.primary {
    color: var(--primary_color);
    font-size: 14px;


}

.btn {
    text-transform: uppercase;
    border-radius: 0px;
    padding: 12px 20px;
    transition: 0.5s;
    min-width: 160px;
    font-size: 14px;
}



.btn-link {
    min-width: auto;
}

.btn-light-primary {
    background-color: #00DCCC;
    color: #fff;
    min-width: 150px;
    font-size: 12px;

}

.btn-outline-white {
    border: 1px solid #fff;
    color: #fff;
    opacity: 0.8;

}


.btn-outline-white:hover,
.btn-outline-white.active {
    background-color: #fff;
    color: var(--primary_color);
}

.btn-primary {
    background-color: var(--primary_color);
    color: #fff;
    border: 0;

}

.btn-primary:hover {
    background-color: #57beb6
}

.btn-white {
    background-color: #fff;
    color: var(--primary_color);
}

.btn-lg {
    font-size: 16px;
    padding: 27px 20px;
    min-width: 250px;
}

/* header css */
.top_header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary_color);
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;


}


.top_header ul li a {
   text-align: left;
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    margin-right: 30px;
    transition: 0.5s;
}

.top_header ul li a:hover,
.top_header ul li.active a {
    opacity: 1;
}

.top-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}


.fixed-header .navbar {
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 99999;
    left: 0;
    right: 0;
    /* box-shadow: -5px -3px 14px 0px #333; */
    animation: slide-down 0.7s;
    height: 85px;

}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
} 


.left-nav li a {
    color: var(--primary_color);
    opacity: 0.7;
}

.top_header .right-nav li a {
    color: #FFFFFF;

}

.navbar-light .navbar-nav .nav-link {
    color: #0A1E2E;
    text-transform: uppercase;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
    font-weight: 600;

}

.navbar-light .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: #fff;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    display: none;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary_color);
}

.navbar-light .navbar-nav .nav-link:hover::before,
.navbar-light .navbar-nav .nav-link.active::before {
    opacity: 1;
    visibility: visible;
    background-color: var(--primary_color);
    transform: translateY(0px);
}



.navbar {
    height: 80px;
    box-shadow: 10px 10px 20px #00000012;
    padding: 0;
}

/* .login-cta {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    background-color: var(--primary_color);
    width: 300px;
    color: #fff;
    font-size: 14px;
    font-family: gotham-bold;
    cursor: pointer;
    margin-left: 10px;
    text-transform: uppercase;

} */
.login-cta {
    background-color: var(--primary_color);
    color: #fff;
    font-size: 14px;
    /*font-family: 'ProximaNova-Semibold';*/
    font-family: gotham-bold;
    cursor: pointer;
    text-transform: uppercase;
    padding: 30px 40px;
}

.search-call-icon li a {
    width: 45px;
    height: 45px;
    background-color: #f2f2f2;
    border-radius: 100px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-call-icon li a svg {
    width: 20px;
    height: 30px;
}

.search-call-icon li circle,
.search-call-icon li line,
.search-call-icon li path {
    stroke: #000;
}

.search-call-icon {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap:15px;
}


/* Slider css */
.main-slider,
.inner-banner {
    overflow: hidden;
    height: calc(100vh - 130px);
}

.main-slider .swiper-slide>img,
.inner-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slider .swiper-slide {
    position: relative;
}

.main-slider .swiper-slide::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 14%);

}

.swiper-pagination-bullet {
    display: inline-block;
    padding: 0;
    background: #fff;
    width: 50px;
    height: 2px;
    border-radius: 2px;
    margin-right: 4px;
    cursor: pointer;
    opacity: .4;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}


.recent-ratings-list {
    background-color: var(--secondary_color);
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100vh - 131px);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    width: 300px;
    z-index: 3;

}

.recent-ratings-list ul li span {
    margin-top: 6px;
    display: block;
}

.pms-cons-copm {
    background-color: var(--secondary_color);
    width: 300px;
    margin-left: 20px;
    height: 100%;

}

.recent-ratings-list .heading-3,
.pms-cons-copm .heading-3 {
    padding: 20px 0px 20px 30px;
    margin: 0;
}

.recent-ratings-list ul li,
.pms-cons-copm ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px 30px;
}

.recent-ratings-list ul li a,
.pms-cons-copm ul li a {
    color: #fff;
    transition: 0.5s;
    font-size: 1.125em;
}

.recent-ratings-list ul li a:hover {
    color: var(--primary_color);
}

.recent-ratings-list .scrollbar {
    width: 100%;
    height: calc(100% - 160px);
    overflow-y: scroll; 
}

.recent-ratings-list .mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.recent-ratings-list ul li svg,
.pms-cons-copm ul li svg {
    margin-right: 12px;
}

.recent-ratings-list ul li svg path {
    transition: 0.5s;

}

.recent-ratings-list ul li:hover svg path {
    stroke: var(--primary_color);
}

.recent-ratings-list .btn-link {
    padding-left: 30px;

}

.main-slider .swiper-pagination {
    width: auto !important;
    bottom: 6%;

}

.banner-caption,
.main-slider .swiper-pagination {
    left: 10%;

}

.banner-caption {
    position: absolute;
    top: 15%;
    color: #fff;
    height: 70%;
	width:65%;
}

.banner-caption .heading-1 {
    font-size: 4.5em;
    letter-spacing: -2.16px;
    line-height: 1.1;
    margin-top: 15px;
    margin-bottom: 20px;
    /* max-width: 800px; */
    max-width: 1150px;

}

.find-ratings {
    background-color: var(--primary_color);
    /* padding: 26px 0; */
    height: 90px;
    display: flex;
    align-items: center;
    z-index: 3;
}

 .find-ratings.fixed {
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: -5px -3px 14px 0px #333;
    animation: slide-down 0.7s;
    height: 85px;

} 
/*.find-ratings.fixed {
    position: fixed;
    width: 100%;
    top: 85px;
    box-shadow: -5px -3px 14px 0px #333;
    animation: slide-down 0.7s;
    /* height: 85px; 
}*/

.find-ratings form {
    display: flex;
    align-items: center;

}

.find-ratings form .company-name::placeholder {
    color: #fff;
}

.find-ratings form .company-name {
    background-color: transparent;
    border: 0;
    width: 270px;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    padding: 10px 0;
    margin-right: 50px;
    caret-color: #fff;
    color: #fff;
}

.find-ratings .btn-light-primary {
    margin-right: 8px;
}

.dropdown-menu {
    /* box-shadow: 0px 3px 20px #00000029; */
    border: none;
    border-radius: 0px;
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: 0.2s;
}

header .dropdown-menu-light li a {
    text-transform: uppercase;
    padding: 15px 20px;

}

header .dropdown-menu-light.show{
    display: block ;
}

.navbar-nav .dropdown-menu {
    width: 270px;
    top: 80px;
    padding: 0;
}

.dropdown-menu-light li a {
    letter-spacing: 0;
    color: #0A1E2E;
    font-size: 14px;
    padding: 12px 20px;
    transition: 0.5s;
}

.dropdown-menu-light li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
    transition: 0.5s;
}

.capabilities-sec {
    padding-top: 100px;
    padding-bottom: 20%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container-fluid.left-space {
    padding-left: 10%;
}

.accordian-title-box {
  background-color: var(--secondary_color);
       height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*02-02-2023*/

.cookie-banner {
    position: fixed;
    top: 19%;
    left: 0;
    right: 10%;
    width: 100%;
    padding: 15px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: all 600ms ease-in-out;
    background-color: #1C304C;
}

.cookie-banner p {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    opacity: 1;
    padding: 0;
    margin: 0;
}

img.cookie-img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 15px;
}

.cookie-banner a {
    color: #fff;
}

button.cookie-close {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #00D3C3;
    text-transform: uppercase;
    opacity: 1;
    border: none;
    outline: none;
    padding: 12px 30px;
    background: #fff;
}

.accordian-title-box .acc-title {
    /*color: #fff;
    font-size: 2.25em;
    line-height: 1.2;
    width: 63%;
    display: block;*/
    color: #fff;
    font-size: 23px;
    line-height: 30px;
    width: 80%;
    display: block;
    word-break: break-word;

}

.accordian-title-box .acc-count {
    position: absolute;
    font-size: 15em;
    color: #FFFFFF;
    opacity: 0.1;
}

.accordian-style-1 .accordion-button {
    letter-spacing: -0.72px;
color: #000000;
font-size: 18px;
    padding: 20px 30px;
        border: 0;
    border-radius: 0 !important;
    font-family: gotham-book;

}

.accordian-style-1 .accordion-body p {
    letter-spacing: -0.54px;
    color: #000;
    font-size: 1.125em;
    margin: 0 0 25px 0;
}

.accordian-style-1 .accordion-body {

    padding: 0px 150px 30px 30px;

}

.accordian-style-1 .accordion-item:last-child {
    border: 0 !important;
}

.accordian-style-1 .accordion-item {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.accordian-style-1 .accordion-button:not(.collapsed)::after {
    background-image: url(../images/minus.svg);
    background-color: transparent;
    border: 1px solid var(--secondary_color)
}

.accordian-style-1 .accordion-button::after {
    background-image: url(../images/plus.svg);
    background-color: var(--secondary_color);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: 50%;

}

.grid-box {
    background-color: #fff;
    /* height: 47vh; */
    margin-bottom: 10px;
    transform: translateY(-60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;

}


.grid-box,
.content-area,
.boxes-list {
    padding: 30px;
}

.content-area {
    position: absolute;
    bottom: 0;
    color: #fff;
}

.audio-player {
    width: 100%;
}

.audio-player audio {
    background-color: #00DCCC;
    color: #fff;
    width: 100%;

}

.audio-player audio::-webkit-media-controls-play-button,
.audio-player audio::-webkit-media-controls-panel {
    background-color: #00DCCC;
    color: #fff;
}

audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {
    color: #fff;
}

audio::-webkit-media-controls-mute-button {
    color: #fff;
}

.grid-box p {
    font-size: 1.125em;
}

.study-box {
    width: 100%;
    padding: 40px 0;

}
.why-work-img-sec {
    padding-bottom: 80px;
}
.study-box:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* .podcast-box,
.latest-commentary-box {
    height: 50vh;
} */


.mt-auto {
    margin-top: auto;
}

.boxes-list {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.studies_main_box {
    transform: none;
    height: auto;


}

.content-img-box img {
    height: 100%;
    object-fit: cover;
    width: 100%;

}

hr.style-1 {
    background-color: #0A1E2E;
    height: 1px;
    opacity: 1;
    margin-bottom: 40px;
    margin-top: 40px;

}
hr.style-3 {
    background-color: #00D3C3;
    height: 1px;
    opacity: 0.7;
    margin-top: 30px;
    margin-bottom: 20px;

}

.card.card-style-1 .card-body {
    margin-top: auto;
    flex: inherit;
    padding: 0;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.card.card-style-1 {
    background-color: #1C304C;
    border-radius: 0;
    padding: 30px;
    aspect-ratio: 1;
    -webkit-aspect-ratio:1;

}
.arrow-link {
    margin-left: auto;
}

.arrow-link,
.arrow-link svg path,
.arrow-link svg line,
.card-style-1 .heading-3 {
    transition: 0.5s;

}

.card.card-style-1 {
    background-color: #1C304C;
    border-radius: 0;
    padding: 30px;
    aspect-ratio: 1;
    -webkit-aspect-ratio:1;

}

.card-style-1.primary {
    background-color: #00d3c3;
    border-color: #00d3c3;
}

.arrow-link svg {
    width: 28px;
    height: 28px;
}

.video-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #fff;
}

.vide_playbtn {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #00D3C3;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.vide_playbtn a:before {
    width: 110px;
    height: 110px;
    background: #00d3c3;
    border-radius: 50%;
    animation: pulse-border 1.5s ease-out infinite;
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0
    }
}



.vide_playbtn a span {
    display: block;
    position: absolute;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 10px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yu2fvl {
    z-index: 9999;
    top: 0;
}

.yu2fvl-iframe {
    display: block;
    height: 100%;
    width: 100%;
    border: 0;
}

.yu2fvl-overlay {
    z-index: 9998;
    background: #000;
    opacity: 0.8;
}

.yu2fvl-close {
    position: absolute;
    top: 1px;
    left: 100%;
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #f10 !important;
    background-color: #f10 !important;
    color: #ffffff;
    border: 0;
    background: none;
    cursor: pointer;
}

.reports-sec {
    padding: 40px 0 100px;
}

.care-rating-rec {
    padding: 120px 0;
    position: relative;
}

.e-logo {
    display: block;
    text-align: center;
}

.e-logo~.heading-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 62%;
    line-height: 44px;
    font-family:gotham-book !important;
}

.chart-info {
    padding: 8% 8%;
}

.slider-arrows.white span {
    background: #fff;

}

.slider-arrows.white svg path {
    fill: var(--primary_color);
}

.slider-arrows span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px;
    background: #00D3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    cursor: pointer;
    transition: 0.5s;
}

.slider-arrows {
    display: flex;
    margin-right: 100px;

}


.slider-arrows svg path {
    fill: #fff;
}

.upcoming-events {
    padding: 80px 0% 80px 10%;
}

.card-style-2 {
    border: 0;
    border-radius: 0;
}

.card-style-2 .heading-2 {
    color: #0A1E2E;
}

.card-style-2 .card-image {
    overflow: hidden;
}

.card-style-2 .card-image img {
    transition: transform .5s ease-in-out;
}

.card-style-2:hover .card-image img {
    transform: scale(1.1);
}

.date-lable {
    position: absolute;
    bottom: 0;
    background-color: #00D3C3;
    left: 0;
    padding: 20px;
    color: #fff;
    min-width: 200px;
    text-align: center;
}

.activity-list {
    padding: 10% 15%;
    height: 100%;

}

.activity-list ul {
    list-style: none;
    padding: 0;

}

.activity-list li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

.activity-list li {
    font-size: 1.5em;
    color: #fff;
    display: flex;
    padding: 50px 0;
}
.careedge-activity-list .btn {
    padding: 15px 35px;
}


.activity-list li span {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;

}


.activity-list li p {
    margin-bottom: 0;
    width: 100%;
    font-family: 'proxima_novaregular';

}

.activity-list.bg-primary li span {
    color: var(--primary_color);
}

.activity-list.bg-primary li:not(:last-child) {
    border-bottom: 1px solid rgb(255 255 255 / 24%);
}

.get-rated-sec::before {
    content: '';
    background-color: #1C304C;
    opacity: 0.65;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.get-rated-sec .card .card-body p {
    text-align: left;
    letter-spacing: -0.72px;
    color: #00D3C3;
    font-size: 20px;    
}

.get-rated-sec .heading-2 {
    text-align: left;
    letter-spacing: -1.08px;
    color: #FFFFFF;
    font-family:gotham-book !important;
    line-height:1.7em;
}

.get-rated-sec,
.get-rated-sec-2 {
    position: relative;
    z-index: 1;
    padding: 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.card-style-1.green {
    background-color: transparent;
    border: 5px solid var(--primary_color);
    transition: 0.5s;
    cursor: pointer;
}

.card-style-1.green:hover {
    background: var(--primary_color);
}

.get-rated-sec .card-style-1.green .card-body p {
    color: #fff !important;
}

.card-style-1:hover .arrow-link svg line,
.card-style-1:hover .arrow-link svg path {
    stroke: #fff !important;
}

.card-style-1.green.hover-style-2:hover .card-body p {
  color: #fff !important;
}
.card-style-1:hover .btn-primary {
    color: #57beb6;
    background: #fff !important;
}

.card-style-1.green .arrow-link {
    margin-bottom: 30px;
}

hr.style-2 {
    background-color: #fff;
    opacity: 1;
    margin: 60px 0 80px;
}
hr.style-6{
    background-color: #a1a1a1;
    opacity: 1;
    margin: 60px 0 80px;
    height: 2px;
}


footer {
    background-color: var(--secondary_color);
    padding: 80px 0 0;
}

.footer-title {
    font-size: 1.25em;
    color: #fff;
    margin-bottom: 25px;
}

.quick-links ul li a {
    letter-spacing: 0px;
    color: #778394;
    font-size: 16px;
    margin-bottom: 13px;
    display: block;
    transition: 0.5s;
  

}

.quick-links ul li a:hover {
    color: #5dd4c4;
}

.quick-links {
    margin-bottom: 30px;
}

.quick-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    max-width: 75%;
}


.sub-links ul {
    display: none;
}

.sub-links ul li a {

    font-size: 14px;
}

.sub-links>a {
    position: relative;
    border-bottom: 1px solid #778394;
    padding-bottom: 10px;
}

.sub-links>a:before,
.sub-links>a:after {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #778394;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.sub-links>a:after {
    transform: translateY(-50%) rotate(90deg)
}

.sub-links>a.open:after {
    opacity: 0;
}

.social-media-links a svg {
    width: 50px;
    height: 50px;
    margin: 5px;

}

.news-letter-subscribe .form-control::placeholder {
    color: #ADB0B1;
    opacity: 0.3;
}

.news-letter-subscribe .form-control {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    padding: 15px 0px;
    color: #fff;
}

.news-letter-subscribe .footer-title {
    margin-bottom: 0;
}

.news-letter-subscribe {
    margin: 50px 0 0;
}

.copyright-footer p,
.copyright-footer a {
    color: #778394;
    transition: 0.5s;
}

.copyright-footer a:hover {
    color: var(--primary_color);
}


.social-media-links a svg path,
.social-media-links a svg circle {
    transition: 0.5s;
}



.copyright-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px;
    margin-top: 80px;
}

.extra-link a {
    position: relative;
    padding: 0 6px;
}

.extra-link a:not(:last-child):before {
    content: '|';
    position: absolute;
    right: -5px;
    color: #778394;
    height: 100%;
}

.swiper-button-disabled,
.slick-disabled {
    opacity: 0.5;
}

.dropdown-toggle::after {
    margin-left: 8px;

}

.menu-icon,
.navbar-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-left: 20px;

}

.menu-icon svg,
.navbar-toggler svg {
    width: 45px;
    height: 45px;
}

.line {
    fill: none;
    stroke: #0A1E2E;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 5;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 5;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 5;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 5;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 5;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 5;
}

.hide-in-s-lap {
    display: none !important;
}

.secondary-menu ul {
    list-style: none;
    padding: 0;
}

.secondary-menu-list {
    display: none;
    margin: 12px 0;
    padding: 0;

}

.secondary-menu>ul {
    position: absolute;
    background-color: #fff;
    z-index: 22;
    width: 300px;
    top: 85px;
    right: 300px;
    display: none;
}

.secondary-menu>ul>li {
    padding: 18px;
    margin: 0 10px;
    border-bottom: 1px solid #ddd;

}

.secondary-menu ul li a {
    letter-spacing: 0;
    color: #0A1E2E;
    font-size: 14px;
    transition: 0.5s;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-menu-list a {
    display: block;
    width: 100%;
    padding: 10px;
}


.secondary-menu ul li a.dropdown-toggle {
    text-transform: uppercase;
}

.scrolltoTop {
    box-shadow: 0px 0px 12px 0px #3333334a;
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: translateY(30px);
    transition: 0.5s;
    opacity: 0;
    border-radius: 100px;
    visibility: hidden;
    z-index: 3;

}

.scrolltoTop.show {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.scrolltoTop svg {
    width: 100%;
    height: 100%;
}

.inner-banner img {
    height: 100%;
    object-fit: cover;
}

.inner-banner>.banner-content {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 5% 10%;
    width: calc(100% - 300px);
}

.inner-banner .breadcrumb li,
.inner-banner .breadcrumb-item+.breadcrumb-item::before {
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.6;
}

.inner-banner .breadcrumb li a {
    color: #fff;
}

.inner-banner .breadcrumb-item.active {
    opacity: 1;
    color: #fff;
}

.inner-banner .banner_captions .heading-1,
.jumbotron .heading-1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.inner-banner .banner_captions .heading-2 {
    font-size: 24px;
}

.banner_captions {
    margin: 8% 0;
}

.searchBar form {
    height: 100%;
    /* display: flex; */
    position: relative;

}

.searchBar {
    height: 80px;
    margin-bottom: 30px;

}

.search-input {
    border-radius: 0;
    padding: 20px 60px;
    background-color: rgb(255 255 255 / 14%);
    width: 58%;
    margin-right: 8px;
    color: #fff !important;
    border: 0;
}

.search-input:focus {
    background-color: rgb(255 255 255 / 14%);
}

.search-input::placeholder {
    color: #FFFFFF;
    opacity: 0.67;

}

.searchBar input[type="submit"] {
    width: 250px;
}


.searchBar .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.filter-ratings .btn {
    margin-right: 10px;
}

.padding-100 {
    padding: 100px 0;
}

.navbar-light .navbar-toggler {
    border: 0;
    margin-left: 0;
    margin-right: 25px;
}

.loginCta svg {
    fill: #fff;
    width: 30px;
    height: 30px;

}

.loginCta {
    background: #5dd4c4;
    border: 0;
    width: 80px;
    height: 80px;
    margin-left: auto;

}

.commons-slider .slick-slide,
.sliderGap .slick-slide {
    margin-right: 10px;
}

.sliderGap-30 .slick-slide {
    margin-right: 45px;
}

.slick-dots {
    bottom: -40px;

}

.reports-sec .commons-slider {
    margin-bottom: 20px;
}


.slick-dots li.slick-active button {
    opacity: 1;
}

.slick-dots li {
    margin: 0 2px;
}

.slick-dots li button {

    width: 10px;
    height: 10px;
    padding: 5px;
    outline: none;
    background: #000;
    border-radius: 100px;
    opacity: 0.5;
}

.acc_srno {
    font-size: 90px;
    width: 26%;
}

.accordian-style-1.style-2 .accordion-button span:last-child {
    font-size: 36px;

}

.accordian-style-1.style-2 .accordion-body {
    width: 52%;
    margin: auto;
}

.accordian-style-1.style-2 .accordion-button {
    display: flex;
    justify-content: space-between;
}

.accordian-style-1.style-2 {
    padding: 0 30px;
    margin-top: 80px;

}


.accordion-body th {
    font-size: 20px;
    font-weight: 100;

}

.accordion-body td {
    color: #000;
    font-size: 16px;
}

.accordion-body td:first-child {
    width: 30%;
}

.left-space-sldier {
    margin-top: 50px;
    padding-left: 8%;
}


.commons-slider-3.left-space-sldier .slick-slide {
    margin-right: 30px;
}

.left-space-sldier .slick-list {
    padding-right: 100px;

}

.this-m-help,
.grey-patch,
.white-patch {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.white-patch::after {
    background-color: #fff;
}

.this-m-help::after,
.grey-patch::after,
.white-patch::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 25%;
    z-index: -1;
    background-color: #fff;
    bottom: 0;
}

.grey-patch::after {
    background-color: #f5f5f5;
}

.img-box {
    position: relative;
    height: 100%;
}

.img-box:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1C304C;
    opacity: 0.25;
    left: 0;
    top: 0;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-box .heading-3 {
    position: absolute;
    bottom: 10px;
    color: #fff;
    z-index: 1;
    left: 20px;
}

.subscribe-form,
.get-high {
    padding: 30px;
}

/* .design-vec-bg {
    background-image: url(../images/design-vec.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;

} */


.subscribe-form ul li span {
    width: 40px;
    height: 40px;
    background-color: #3d4e66;
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;

}

.subscribe-form ul li span svg {
    width: 24px;
    height: 24px;
}

.subscribe-form ul {
    margin: 40px 0;
}


.subscribe-form>ul li {
    font-size: 16px;
    color: #fff;
    margin-right: 20px !important;

}

.form-style-1 .form-control,
.form-style-1 .form-select {
    background-color: transparent;
    border: 0;
    color: #F5F5F5;
    border-bottom: 1px solid #f5f5f54d;
    border-radius: 0;
}

.form-style-1 label {
    padding: 22px 10px;
}

.form-style-1 .form-select {
    padding-left: 0;
}

.form-style-1 label,
.form-style-1 .form-select {
    color: #F5F5F5;
    font-size: 14px;

}
.form-style-1 .form-select {
    padding: 22px 10px;
}
.form-style-1 .form-select option {
    color: #000;
}
.form-style-1 .form-floating {
    margin-bottom: 20px;
}

.subscribe-form .heading-2 {
    font-size: 36px;
}



.card-style-1:hover .arrow-link {
    transform: scale(1.2) rotate(10deg);
}

.card-style-1:hover .arrow-link svg line,
.card-style-1:hover .arrow-link svg path {
    stroke: var(--primary_color);
}

.jumbotron {
    height: 21vw;
    display: flex;
    align-items: center;
}

.table.table-style-1 tr th {
    color: #1C304C;
    font-weight: normal;
    padding: 0 22px 20px !important;

}

.table.table-style-1 tr td,
.table.table-style-1 tr th {
    font-size: 16px;
    padding: 22px;
    white-space: nowrap;

}

.table.table-style-1 tr td {
    background: #F5F5F5;
    color: #000000;
}

.table-style-1 tbody tr td {
    border-bottom: 1px solid #ddd !important;
}

.table-style-1 tbody tr:last-child td {
    border: 0 !important;
}

.dropdown-menu-outiline .dropdown-toggle {
    background-color: #fff;
    border: 1px solid #1C304C;
    color: #1C304C;
    font-size: 12px;
    text-transform: uppercase;
}

.dropdown-menu-outiline .dropdown-menu {
    border-top: 0 !important;
    border: 1px solid #1C304C;
    margin: -5px 0 0 0;
    padding: 0;
}

.custom-dropdown .dropdown-toggle {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.dropdown-menu-outiline .dropdown-menu li:not(:last-child) a {
    border-bottom: 1px solid #1C304C;
}

.dropdown-menu-outiline .dropdown-menu li a {
    padding: 15px 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.round-circle svg {
    fill: #fff;
    opacity: 0.3;
}

.select-report-box {
    border: 1px dashed #D4D4D4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 121px;
    text-align: center;
    margin: 40px 20px 40px 0;
    letter-spacing: -0.36px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 12px;
    width: 21%;
    padding: 20px;

}

.selected-report {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-left: auto;
    padding: 20px 40px;
}

.find-ratings-details-page .news-grid {
    position: relative;
}

.find-ratings-details-page .news-grid::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #f5f5f5;
    bottom: 0;
    z-index: -1;
}

/*14.02.2023 start*/
.news_grid_php .latest-commentary-box,
.news_grid_php .podcast-box{
    max-height: 490px;
    min-height: 490px;
}

.news_grid_php .content-img-box, .news_grid_php .studies_main_box{
    height: 869px;
}

.news_grid_php .latest-commentary-box .pt-5.mt-5,
.news_grid_php .podcast-box .pt-5.mt-5{
    padding: 0 !important;
    margin: 0 !important;
}

.news_grid_php .latest-commentary-box .text-white.pt-3.pb-5,
.news_grid_php .podcast-box .text-white.pt-3.pb-5{
    padding: 0 !important;
}

/*14.02.2023 end*/

/*02.06.2023 start*/
.news_grid_php .grid-box.latest-commentary-box{
    border: 1px solid #00000021;
}

.podcasts1-sec.podcasts1-sec-v1 .grid-box{
    /* min-height: 365px; */
    min-height: 460px;
    max-height: 460px;
    transform: translateY(0);
}

/* 02.06.2023 end */

/*10.02.2023*/
.commentry_php .card-style-2 .card-image {
    min-height: 426px;
    max-height: 426px;
}


.yearDropDown-main .empInput.form-control{
    border: 1px solid #858796;
    width: 160px;
    height: 45px;
    border-radius: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.yearDropDown-main .yearToggle{
    margin-bottom: 50px;
}
.CareEdgeeventgallery-sec .yearDropDown-main .yearToggle{
    margin-bottom: 0;
}

.yearDropDown-main .yearToggle:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    top: 50%;
    right: 10%;
}

.yearToggle{
    position: relative;
}
/*10.02.2023 end */

.bg-img {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.milestones-sec {
    padding: 16% 0 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.pers-name {
    letter-spacing: -1.08px;
    color: #0A1E2E;
    font-size: 2em;
    margin: 15px 0 5px;

}

.profile-name {
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.6;
}

.board-of-directors-slider .slick-list {
    padding-right: 50px;
}

.hang-boxes .card.card-style-1 {
    margin-bottom: 20px;
}

.contact-form {
    padding: 30px 40px;
}

.select-drop {
    position: relative;
}

.select-drop::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid #fff;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    top: 50%;
    right: 0;
}

.milestones-year-slider .year-item {
    padding: 10% 0;

}

.milestones-year-slider .year-item h3 {
    font-size: 4.5em;
    letter-spacing: -2.16px;
    color: #FFFFFF;
    opacity: 0.3;
    /*font-family: 'proxima_novabold';*/
    font-family: gotham-bold;
    transition: 0.5s;
    text-align: center;
    transform: scale(1);
}

.milestones-year-slider .slick-slide.slick-current.year-item h3 {
    opacity: 1;
    transform: scale(1.3);
}

.milestones-mtop {
    margin: 200px 0 0 0;
}

.activity-list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}

.milestones-year-list {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 720px;
    padding: 0 10px 0 0;
}


.milestones-year-list::-webkit-scrollbar,
.custom-scrollbar-style::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.milestones-year-list::-webkit-scrollbar-thumb,
.custom-scrollbar-style::-webkit-scrollbar-thumb {
    background: #57beb6 !important;
    border-radius: 10px;

}

.milestones-year-list::-webkit-scrollbar-track,
.custom-scrollbar-style::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.btn-link.white {
    color: #fff;
}

.dropdown-menu-outiline.white .btn {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.dropdown-menu-outiline.white .dropdown-menu li:not(:last-child) a {
    border-color: #f2f2f2;
}

.dropdown-menu-outiline.white .dropdown-menu {
    border-color: #fff;
}

.contact-details-list {
    padding: 0;
    margin: 0;

}

.contact-details-list .contact-icon {
    width: 45px;
    height: 45px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}


.contact-details-list a {
    letter-spacing: -0.54px;
    color: #000000;
    opacity: 0.95;
    font-size: 16px;
}

.contact-details-auth-pers {
    margin-top: 60px;
    padding: 40px;
}

.profile-card {
    background-color: #fff;
    padding: 22px;
    margin-bottom: 18px;
    align-items: center;
}

.card.card-style-3 {
    padding: 30px;
    aspect-ratio: 1;

}

.faq-acc {
    margin-top: 100px;
}


.arrow-link.small svg {
    width: 20px;
    height: 20px;
}

/*23-02-23*/
.job-open-sec .reports-slider .slick-track,
.job-open-sec .reports-slider .slick-track .item{
    width: 100% !important;
}

.ind_classification_php{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.8;
    text-transform: capitalize;
}
/*23-02-23 end*/

.locations-list .scrollbar {
    height: 100%;

}

.locations-list .mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.locations-list h2 {
    font-size: 28px;
}

.locations-list h2,
.locations-list li {
    padding: 30px 40px;
}

.locations-list ul li {
    background-color: #00d3c3;
    transition: 0.5s;
    font-family: 'proxima_nova_altlight';
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

.locations-list ul li:hover,
.locations-list ul li.active {
    background-color: #06C6B8;
}


.location-icon {
    width: 45px;
    height: 45px;
    background-color: rgb(255 255 255 / 42%);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.locations-list ul li:not(:last-child)::after {
    border-bottom: 1px solid #ffffff5c;
    content: '';
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.google-map{
    position: relative;
}
.location-details {
    position: absolute;
    width: 380px;
    top: 16%;
    background-color: #1c304c;
    padding: 20px;
    left: 9%;
    display: none;
}
.location-details .map-pointer {
    position: absolute;
    width: 21px;
    height: 30px;
    bottom: -30%;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: contain;
}
.location-details * {
    letter-spacing: -0.48px;
    opacity: 0.95;
}

.location-details::after {
    position: absolute;
    content: "";
    bottom: -8px;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #1c304c;
    left: 50%;
    transform: translateX(-50%);
}
.location-details1 {
    position: absolute;
    width: 380px;
    bottom: 19%;
    /* background-color: #1c304c; */
    /* padding: 20px; */
    left: 15%;
    right: 0;
    display: none;
    margin: 0 auto;
}
.location-details1 .map-pointer {
    position: absolute;
    width: 25px;
    height: 35px;
    bottom: -26%;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: contain;
}
.location-details1 * {
    letter-spacing: -0.48px;
    opacity: 0.95;
}

.location-details1::after {
    position: absolute;
    content: "";
    bottom: -8px;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #1c304c;
    left: 50%;
    transform: translateX(-50%);
}

.animayion-none a:before {
    display: none;
}

.vide_playbtn.small a span {
    border-left: 16px solid #fff;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.webinars-slider .slick-slide {
    margin-right: 30px;
}

.event-gallery-slider .slick-list {
    padding-right: 20%;

}


.podcasts-slider .slick-list {
    padding-right: 25%;

}

.podcasts-slider .podcast-box {
    height: 500px !important;
    transform: none;
}

.opacity-95 {
    opacity: 0.95;
}
.opacity-80 {
    opacity: 0.8;

}


.webinars-slider .card-style-2:hover .card-image img {
    transform: none !important;
}

.black-overlay::before {
    content: '';
    background-color: #1C304C;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    left: 0;
    top: 0;
    pointer-events: none;
}

.filter-btns .btn {
    margin-right: 10px;
    opacity: 1;
}

hr {
    transform-origin: left;
}

.arrow_up {
    display: inline-block;
    margin-left: 10px;
}

/*.reports-sec .slick-slide {
    margin: 0 20px;
}*/
.msz-count-limit {
    position: absolute;
    bottom: 15px;
    right: 5px;
    letter-spacing: -0.42px;
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 14px;
}

/* .custom-dropdown {
    width: 160px;
} */

.CareEdgeeventgallery-sec .slider-arrows {
    position: relative;
    margin-right: 10px;
}

.budget-sec .text-grey {
    margin: 0 0 19px 0;
}

.slider-arrows.sliders-mobile {
    display: none;
}

.investors-page .podcast-box, .investors-page .latest-commentary-box {
    /* height: 53vh; */
    height: 47vh;
    justify-content: space-between;
}
.word-break-all{
    word-break: break-all;
}
/*publications page start*/
.fee-structure-number li{
    color: #ADB0B1;
    font-size: 1.125em;
    line-height: 40px;
}
.fee-structure-number1 li{
    font-size: 16px;
    line-height: 30px;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
}
.fee-structure-number1 li ul li{
    list-style-type: disc;
}
p.paragraph-text {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 35px;;

}
.float-right{
    float: right;
}
.align-items-left{
    align-items: left;
}
.card.card-style-4 .card-body1 {
    padding: 20px 30px;
    border: 0;
    outline: 0;
    
}
.media-presence-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.time-upload {
    color: #CECECE;
    font-size: 12px;
    display: block;
}
.space-between{
    justify-content: space-between;
}
.bottom-media img {
    width: 23px;
    height: 23px;
    object-fit: contain;
}
.bottom-media .heading-4{
    font-size: 18px;
    line-height: 20px;
}
.commons-slider-3 .card{
    height: 100%;
    min-height: 540px;
    position: relative;
}
.border-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px 30px;
}
.card-content1{
    padding: 20px 30px;
}
.bottom-content img{
    width: 23px;
    height: 23px;
    object-fit: contain;
}
.bg-before-grey{
    position: relative;
}
.bg-before-grey:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(28 48 76 / 60%);
}
.place-center{
    place-items: center;
}
.updates-sec .card.card-style-2 {
    position: relative;
    height: 100%;
    padding-bottom:10px;
}
.updates-sec .card-bottom-part{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*Home Page Start*/
.view-report-btn {
    min-width: auto;
    padding: 15px 40px;
    line-height: 20px;
}
li.nav-item.dropdown:hover ul.dropdown-menu.dropdown-menu-light {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    top: 60px;
    gap:100px;
}
/*Home Page End*/
/*About page start*/
.para-line-height{
    line-height: 1.4;
}
.vision-mission-sec .hang-boxes .card.card-style-1,.code-of-conduct .card.card-style-1{
    padding: 40px;
}
.news-bg-light {
    background-color: #f8f8f8;
}
select.media-dropdown {
    background-color: #fff;
    border: 1px solid #1C304C;
    color: #1C304C;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px;
}
.podcast-audio-slider .podcasts-slider .podcast-box{
    aspect-ratio: 1;
}
.podcast-audio-slider{
    position: relative;
}
.podcast-audio-slider:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border: 1px solid #00d3c3;
    inset: 55% 0;
    z-index: -9;
}
.event-bg{
    position: relative;
    padding: 200px 0;
}
.event-bg:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/receive-updates-bg.png);
    background-repeat: no-repeat;
    z-index: -9;
    background-size: cover;
}
.event-bg:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(9 16 59 / 34%);
    background-repeat: no-repeat;
    z-index: -9;
}
.para-line-height {
    line-height: 1.4;
}
a.btn.btn-primary.find-rating {
    padding: 20px 80px;
    line-height: 40px;
    color: #fff;
}
/*About page end*/
/*Sitemap Start*/
.sitemap{
    background-color: #F0F0F0;
}
.care-group ul {
    margin: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 10px;
}
.care-group ul li a {
    letter-spacing: -0.6px;
    font-size: 20px;
    transition: 0.5s ease;
    font-weight: 600;
    text-align: left;
}
.care-group ul li a:hover {
    color: rgb(93 212 196) !important;
    text-decoration-color: rgb(93 212 196);
    opacity: 1;
}
hr.style-5 {
    background-color: #000000;
    opacity: 0.2;
    margin: 40px 0 40px;
    height: 2px;
}
.sitemap-sub-menu li{
    padding: 0 !important;
}
.sitemap-sub-menu li a {
    letter-spacing: -0.54px;
    color: #000000;
    opacity: 0.5;
    font-size: 18px !important;
    line-height: 30px;
}
.text-underline {
    text-decoration: underline;
    text-decoration-color: hsl(0deg 0% 0% / 80%);
}
/*Sitemap End*/
/*Audio Start*/
.plyr__control svg {
    fill: #fff !important;
}
.plyr--audio .plyr__controls {
    background: #00dccc !important;
}
.plyr--full-ui input[type=range]{
    color: #fff !important;
}
.plyr__controls .plyr__controls__item.plyr__time {
    color: #fff;
}
.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true]{
    background: transparent !important;
}
.plyr__controls__item.plyr__menu {
    display: none;
}
.plyr--audio .plyr__controls {
    padding: 30px !important;
    padding: var(--plyr-control-spacing,30px) !important;
}
.plyr--audio {
    /* padding: 30px 0; */
    width: 85%;
    margin-top: 10px;
}
.plyr__progress__buffer {
    background: rgb(255 255 255 / 38%) !important;
}
/*Audio End*/
/*Contact Start*/
.main-location-div {
    background: #1c304c;
    padding: 15px;
}
.google-map-sec{
    position: relative;
}
/*Login css start*/
.login-popup .modal-header {
    background: #1C304C;
    border-radius: 0;
}
.login-popup h5#exampleModalToggleLabel {
    text-align: left;
    letter-spacing: -1.08px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 36px;
    line-height: 44px;
    font-family: 'proxima_novaregular' !important;
}
.login-popup .modal-header .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    background: none;
    opacity: 1;
    font-size: 24px;
}
.login-popup .form-style-1 .form-control, .login-popup .form-style-1 .form-select {
    background-color: transparent;
    border: 0;
    color: #000000;
    border-bottom: 1px solid rgb(0 0 0 / 30%);
    border-radius: 0;
    opacity: 1;
}
.login-popup .btn-close:focus {
    box-shadow: none;
}
.login-popup .form-style-1 label, .login-popup .form-style-1 .form-select {
    color: #000000;
    font-size: 14px;
}
.login-popup .login-regi-form {
    padding: 0 30px 30px 30px;
}
.login-popup h5#exampleModalToggleLabel {
    padding: 30px 150px 30px 30px;
}
.login-popup .modal-content {
    border-radius: 1px;
    border-bottom: none;
}
.login-otp .card {
    width: 500px;
    border: none;
    height: 400px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}
.login-otp .card h6 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    font-family: 'proxima_novaregular'!important;
    padding: 15px 0;
}
.login-otp .inputs input{
    width:40px;
    height:40px
}
 .login-otp .card-2{
    background-color:#fff;
    padding:10px;
    width:350px;
    height:100px;
    bottom:-50px;
    left:20px;
    position:absolute;
    border-radius:5px
}
.login-otp .card-2 .content{
    margin-top:50px
}
.login-otp .card-2 .content a{
    color:#00d3c3;
}
.login-otp .form-control:focus{
    box-shadow:none;
    border:2px solid #00d3c3;
}
.login-otp .validate {
    background-color: #00d3c3;
    border: 1px solid #00d3c3;
    min-width: 170px;
    padding: 15px 40px;
    line-height: 20px;
}
div#otp {
    pointer-events: all;
}
.resend-text{
    color:#00d3c3;
}
.modal-dialog{
    pointer-events: all;
}

.digit-group input {
    width: 45px;
    height: 45px;
    background-color: rgb(255 255 255 / 50%);
    border: none;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: black;
    margin: 25px 3px 0;
    border: 1px solid #00d3c3;
}
.digit-group .splitter {
    padding: 0 5px;
    color: white;
    font-size: 24px;
}
.login-otp .btn-close {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #000;
    background: none;
    opacity: 1;
    font-size: 24px;
}
.login-otp  .btn-close:focus {
    box-shadow: none;
}
/*Login css end*/

.select-all-input input[type=checkbox] {
    display: none;
}
.select-all-input input[type=checkbox] + label {
    display: block;
    margin: 0;
    cursor: pointer;
    padding: 0;
    font: normal normal normal 20px/1 'proxima_novaregular';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.select-all-input input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #fff;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    vertical-align: top;
    color: transparent;
    transition: .2s;
    line-height: 0.4;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: bolder;
}
.select-all-input input[type=checkbox]:checked + label:before {
    background-color: #00d3c3;
    border-color: #00d3c3;
    color: #000000;
}
.input-find-rating {
    width: 100%;
    display: flex;
    margin: 20px 0;
  }



/*Register page css start*/

.hav-acc-div span{
    font: normal normal normal 28px/44px proxima_novaregular;
letter-spacing: -0.84px;
color: #FFFFFF;
opacity: 1;
}
.hav-acc-div a{
    padding: 22px 60px;
    font-size: 18px;
}


#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
    width: 100%;
    margin: 0 auto;
}

#msform form {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
    text-align: left;
    margin: 50px 0;
}

/* #msform form:not(:first-of-type) {
    display: none
} */
#msform fieldset form{
    display: none
}
#msform input, #msform textarea {
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid rgb(0 0 0 / 30%);
    border-radius: 0px;
    margin-bottom: 30px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid rgb(0 0 0 / 30%);
    outline-width: 0
}
#msform .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    font: normal normal normal 18px/0 proxima_novaregular;
    letter-spacing: -0.54px;
    color: #0000004D;
    font-weight: 600;
    margin-top: -5px;
}
#msform .action-button {
    width: 250px;
    background: #00d3c3;
    font: normal normal 600 18px/23px ProximaNova-Semibold;
    letter-spacing: -0.54px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin: 10px 0px 10px 30px;
    float: right;
    padding: 24px 69px;
    text-align: center;
    letter-spacing: -0.54px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border: 2px solid #00d3c3 !important;
    
}


#msform .action-button-previous {
    width: 250px;
    background: transparent ;
    font: normal normal 600 18px/23px ProximaNova-Semibold;
    letter-spacing: -0.54px;
    color: #00d3c3;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin: 10px 0px 10px 5px;
    float: right;
    padding: 24px 69px;
    text-align: center;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    opacity: 1;
    border: 2px solid #00d3c3 !important;
}
#msform .action-button:focus{
    border-bottom: transparent !important;
}
/* #msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    border-bottom: transparent !important;
} */

.card1 {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    margin: 0;
    padding: 0;
    line-height: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#progressbar .active {
    color: #1C304C;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    margin: 27px;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    background-position: center;
    background-image: url(../images/icons/material-person.svg);
    background-repeat: no-repeat;
    line-height: 50px;
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    background-position: center;
    background-image: url(../images/icons/login-icon-m.svg);
    background-repeat: no-repeat;
    line-height: 50px;
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    background-position: center;
    background-image: url(../images/icons/company-name-icon.svg);
    background-repeat: no-repeat;
    line-height: 50px;
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    background: rgb(28 48 76 / 30%);
    border-radius: 50%;
    margin: 0 0 10px 0;
    padding: 2px;
}
ul#progressbar strong {
    padding: 0 20px;
    font: normal normal normal 22px/44px proxima_novaregular;
    letter-spacing: -0.72px;
    color: #000000;
    opacity: 1;
}
#progressbar li:last-child:after{
  display: none;
  width: 0;
}
#progressbar li:after {
    content: '';
    width: 27%;
    height: 2px;
    background: lightgray;
    position: absolute;
    top: 25px;
    z-index: -1;
    left: auto;
    right: auto;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #1C304C;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #1C304C;
}

.fit-image {
    width: 100%;
    object-fit: cover
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  .toggle-password {
    position: absolute;
    bottom: 35%;
    right: 0;
    cursor: pointer;
}
/* #progressbar .active:before {
    background-image: url(../images/icons/material-done.svg) !important;
} */
.register-form-sec sup {
    font-size: 16px;
    color: rgb(255 0 0 / 80%);
    top: -0.3em;
}
#the-count {
    float: right;
    margin-top: -16px;
}
/*Register page css End*/




/*payment summary css start*/
.payment-sum-sec  h3{
    font: normal normal bold 48px/58px proxima_novabold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.payment-sum-sec button.accordion-button.acc-head {
    width: 100%;
    grid-template-columns: 63% 15% 10% 10%;
    /* place-items: baseline; */
    place-content: center;
}
.payment-sum-sec .accordion-body .acc-head {
    width: 100%;
    grid-template-columns: 65% 15% 10% 10%;
    /* place-items: baseline; */
    /* place-content: center; */
    margin-right: 2.5%;
    background: #fff;
    padding: 20px;
    margin: 15px 0;
    justify-items: flex-start;
    justify-content: space-evenly;
}
.payment-sum-sec .acc-head h3,.payment-sum-sec .acc-head h4 {
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 24px;
    font-weight: 500;
    font-family: 'proxima_novaregular';
    margin: 0;
    padding: 0;
}
.payment-sum-sec .accordion-body .acc-head h3,.payment-sum-sec .accordion-body .acc-head h4{
    font: normal normal normal 18px/24px proxima_novaregular;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.7;
}
.payment-sum-sec .accordian-style-1 .accordion-button {
    padding: 0;
    background: transparent;
}
.payment-sum-sec .accordian-style-1.style-2 .accordion-body {
    width: 100%;
    margin: auto
}
.payment-sum-sec .accordian-style-1.style-2{
    padding: 0;
}
.payment-sum-sec .accordian-style-1 .accordion-body{
    padding: 0;
}

.payment-sum-sec .accordion-item {
    margin: 20px 0;
    background-color: #F5F5F5;
    padding: 20px;
}
.payment-sum-sec .accordian-style-1 .accordion-item{
    border-bottom: none;
}
.payment-sum-sec .total-amount {
    grid-template-columns: 62% 25% 13%;
}
.payment-sum-sec .total-amount h3{
    font: normal normal 600 36px/44px ProximaNova-Semibold;
    letter-spacing: -1.08px;
    color: #000000;
    opacity: 1;
}
.payment-sum-sec .make-pay{
    line-height: 30px;
}
section.payment-sum-sec {
    padding: 100px 0;
}
.payment-sum-sec .accordion-body .select-all-input input[type=checkbox]:checked + label:before {
    color: #ffffff;
}
.payment-sum-sec .accordion-body .select-all-input input[type=checkbox] + label:before {
    content: "\2714";
    border: none;
    background: rgb(0 211 195 / 50%);
    border-radius: 0;
}
.payment-sum-sec .accordion-header .acc-head a {
    background: rgb(0 211 195 / 50%);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    line-height: 45px;
    text-align: center;
}
.payment-sum-sec .accordion-header .acc-head a svg{
    fill: #fff;
}
.payment-sum-sec .payment-sum-sec .accordian-style-1.style-2 .accordion-button {
    display: flex;
    justify-content: space-evenly;
}
.payment-sum-sec .select-all-input input[type=checkbox]:checked + label:before {
    border-color: none;
}
.payment-sum-sec .select-all-input input[type=checkbox] + label:before {
    border: none;
}
.payment-sum-sec .accordion-item{
    border: none;
}
/*payment summary css End*/
.right-site .selected-report {
    width: 100%;
    height: 100%;
} 

/*Insights searchBar css start here here*/

.d-flex-header .inights-searchBar{
    height: 65px;
    margin: 0;
}

.inights-searchBar form{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.inights-searchBar .search-input{
    background-color: transparent;
    padding: 14px 60px;
    color: #000000c9 !important;
    border: 1px solid #c1c1c1;
    margin-right: 20px;
}

.inights-searchBar .search-icon{
    left: 110px;
}

.inights-searchBar .search-input::placeholder{
    color: #000;
}

.updates-searchBarSec .d-flex-header{
    justify-content: space-between !important;
    align-items: center;
    margin-bottom: 3rem;
}

.inights-searchBar a.btn.btn-primary.insights-find-rating{
    padding: 14px 50px;
    border: 1px solid #00d3c3;
    transition: all .5s ease-in-out;
}

.inights-searchBar a.btn.btn-primary.insights-find-rating:hover{
    border: 1px solid #57beb6;
    transition: all .5s ease-in-out;
}

.d-flex-header h3.mb-5{
    margin-bottom: 0 !important;
}

.inights-searchBar .search-input:focus{
    border-color: var(--primary_color);
    opacity: 1;
}

/*Insights searchBar css end here here*/

/* Register pages new css here here */
#progressbar .active strong{
    font-weight: 900;
}

#msform .form-floating > label span{
    color:red;
}




.form-floating select{
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	outline: none;
	padding: 15px 0;
    border: none;
    border-bottom: 1px solid rgb(0 0 0 / 30%);
    border-radius: 0px;
    margin-bottom: 30px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
	background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png") 100% / 3% no-repeat;
}

/*filter*/
  .filter-economy .slick-track {
    width: 100% !important;
    display: inline-block;
}
.filter-economy .slick-slide {
    margin-right: 0px !important;
    margin-bottom: 50px;
}
#portfolio-rate {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 25px;
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
}
.margint-5{
    margin: 10px 0;
}
/*filter*/
/* .sticky-cart-sec {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    border-radius: 0;
}
.sticky-cart-sec.scrolltoTop.show {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
} */

/**/
.reports-sec .report-sec-head{
    position: relative;
}

.reports-sec .custom-dropdown.reports-custom-dropdown{
    position: absolute;
    top: 0;
    right: 0;
}

.nav-item.dropdown{
    position: relative;
}

.dropdown .dropdown-display{
    display: flex;
    justify-content: space-between;
}

.dropdown-menu .dropDown-inner{
    list-style:none;
    padding: 0;
}

.dropdown-menu li h5{
    color: var(--primary_color);
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 10px;
    font-family: 'proxima_novaregular' !important;
    font-weight: 600px;
}

.dropdown-menu .dropDown-inner li a{
    padding: 15px 10px;
    /* border-bottom: 0; */
    font-size: 15px;
}

.dropdown-menu-light li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.dropdown-menu.dropdown-newDegn{
    padding: 20px;
    width: 560px;
}

li.nav-item.dropdown:hover ul.dropdown-menu.dropdown-menu-light{
    z-index: 11 !important;
}

.secondary-menu>ul{
    z-index: 999;
}

/*12-01-2023 start*/
section.care-edge-slider-new {
    padding: 80px 0% 80px 10%;
}
.care-edge-slider-new .swiper-2 .swiper-slide p.heading-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all 0.3s ease-in-out;
    will-change: transform;
}
.care-edge-slider-new .swiper-2 .swiper-slide:hover p.heading-3 {
    -webkit-line-clamp: 10;
    transition: all 0.3s ease-in-out;
    will-change: transform;
}
/*12-01-2023 end*/

/*New css*/
.new-life .speak-slider.left-space-sldier .slick-slide{
    background-color: #f5f5f5;
}
.new-life .speak-slider .card {
    height: 100%;
    min-height: 400px;
    position: relative;
}
.new-life .speak-slider.left-space-sldier .slick-slide {
    margin-right: 30px;
}
.new-life .speak-slider .bottom-content img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
}
.new-life .speak-slider .card-content1 {
    padding: 40px;
}
.new-life .speak-slider .border-bottom {
    padding: 40px 40px 20px;
}
.new-life .activity-list li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.new-life .activity-list {
    padding: 10%;
    height: 100%;
}
.new-life .activity-list ul {
    width: 100%;
}
.new-life div#faq-tab {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.new-life #faq-tab .btn{
    margin: 0;
}
.w-95{
    width: 95%;
}
.new-life .heading-2 {
    font-size: 1.50em;
    margin-top: 20px;
}
.padding-150{
    padding: 150px;
}
.w-40 {
    width: 40%;
    image-rendering: auto;
    object-fit: contain;
}
.why-work-img-sec {
    padding-bottom: 80px;
}
.why-wok-new .activity-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}
.why-wok-new .activity-list li {
    font-size: 1.5em;
    color: #fff;
    display: flex;
    padding: 50px 0;
    min-height: 150px;
}
.why-wok-new .opacity-05 {
    background-color: #0a1e2e47;
}
.why-wok-new {
    background-color: #f5f5f5
}
.new-life .card {
    background-color: #f5f5f5;
}
.new-life .border-bottom{
    border-bottom:none !important;
}
.new-life .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.45em;
    color: #0a1e2e;
    font-weight: 600;
}
.new-life .modal-body p {
    font-size: 1.15em;
    font-weight: 600;
    color: #0a1e2e;
    height: 240px;
    overflow-y: scroll;
}
.new-life button.close span {
    font-size: 35px;
    font-weight: bolder;
}

/*31.01.2023*/
.contact_php ul.parsley-errors-list{
    padding: 0 0.75rem;
    margin-top: 10px;
}

.contact_php .select-drop .form-select.parsley-error{
    margin-bottom: 0;
}

#form_contact_us .msz-count-limit.msg_count{
    bottom: 43px;
}

.contact_php .form-floating.select-drop select{
    -webkit-appearance: none;
    appearance: none;
    background: none;
}

.subscribe-form .subscribe_form_php ul.parsley-errors-list{
    margin: 5px 0;
    padding: 0 0.75rem;
}

.results_php .callout{
    width: auto;
    position: absolute;
    top: 10px;
    right: 15px;
}

.callout {
    width: auto;
    position: absolute;
    top: 10px;
    right: 15px;
}

 .callout .close-button{
    border: 0;
    background: transparent;
    font-size: 25px;
    font-weight: 600;
}
.news_grid_php #renderHtmlFeaturedMediaSectiondata .swiper-slide img{
        /* height: 810px; */
        height:869px;
        width:100%;
    }

.navbar-nav .dropdown-menu{
     z-index: 2 !important;
}

.webinars1_sec_php .card-style-2 .card-image{
    max-height: 426px;
    min-height: 426px;
}

.webinars1_sec_php .card-style-2 .card-image img{
    width: 100%;
}

.faq_acc_php .accordian-style-1.style-2 .accordion-button span:last-child{
    width: 74%;
}

.contact_php .select-drop::after{
    right: 15px;
}

.contact_php .select-drop .form-select {
    background: none;
}


img.investor_icon {
    float: left;
    margin-right: 10px;
    width: 24px;
}

span.investor-contact-address {
    float: left;
    width: 90%;
}

.investor_contact_card a {
    font: normal normal normal 16px/24px 'proxima_novaregular';
    letter-spacing: -0.48px;
    color: #FFFFFF;
    opacity: 0.95;
}

.investor_contact_card span.text-white.heading-6.sub_text_1 {
    font: normal normal normal 14px/24px 'proxima_novaregular';
    letter-spacing: -0.42px;
    color: #FFFFFF;
    opacity: 0.8;
}
.new-life .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.45em;
    color: #0a1e2e;
    font-weight: 600;
}
.new-life .modal-body p {
    font-size: 1.15em;
    font-weight: 600;
    color: #0a1e2e;
    height: 240px;
    overflow-y: scroll;
}
.new-life button.close span {
    font-size: 35px;
    font-weight: bolder;
}img.investor_icon {
    float: left;
    margin-right: 10px;
    width: 24px;
}

span.investor-contact-address {
    float: left;
    width: 90%;
}

.investor_contact_card a {
    font: normal normal normal 16px/24px 'proxima_novaregular';
    letter-spacing: -0.48px;
    color: #FFFFFF;
    opacity: 0.95;
}

.investor_contact_card span.text-white.heading-6.sub_text_1 {
    font: normal normal normal 14px/24px 'proxima_novaregular';
    letter-spacing: -0.42px;
    color: #FFFFFF;
    opacity: 0.8;
}
.new-life .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.45em;
    color: #0a1e2e;
    font-weight: 600;
}
.new-life .modal-body p {
    font-size: 1.15em;
    font-weight: 600;
    color: #0a1e2e;
    height: 240px;
    overflow-y: scroll;
}
.new-life button.close span {
    font-size: 35px;
    font-weight: bolder;
}img.investor_icon {
    float: left;
    margin-right: 10px;
    width: 24px;
}

span.investor-contact-address {
    float: left;
    width: 90%;
}

.investor_contact_card a {
    font: normal normal normal 16px/24px 'proxima_novaregular';
    letter-spacing: -0.48px;
    color: #FFFFFF;
    opacity: 0.95;
}

.investor_contact_card span.text-white.heading-6.sub_text_1 {
    font: normal normal normal 14px/24px 'proxima_novaregular';
    letter-spacing: -0.42px;
    color: #FFFFFF;
    opacity: 0.8;
}
.new-life .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.45em;
    color: #0a1e2e;
    font-weight: 600;
}
.new-life .modal-body p {
    font-size: 1.15em;
    font-weight: 600;
    color: #0a1e2e;
    height: 240px;
    overflow-y: scroll;
}
.new-life button.close span {
    font-size: 35px;
    font-weight: bolder;
}img.investor_icon {
    float: left;
    margin-right: 10px;
    width: 24px;
}

span.investor-contact-address {
    float: left;
    width: 90%;
}

.investor_contact_card a {
    font: normal normal normal 16px/24px 'proxima_novaregular';
    letter-spacing: -0.48px;
    color: #FFFFFF;
    opacity: 0.95;
}

.investor_contact_card span.text-white.heading-6.sub_text_1 {
    font: normal normal normal 14px/24px 'proxima_novaregular';
    letter-spacing: -0.42px;
    color: #FFFFFF;
    opacity: 0.8;
}
.new-life .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.45em;
    color: #0a1e2e;
    font-weight: 600;
}
.new-life .modal-body p {
    font-size: 1.15em;
    font-weight: 600;
    color: #0a1e2e;
    height: 240px;
    overflow-y: scroll;
}
.new-life button.close span {
    font-size: 35px;
    font-weight: bolder;
}img.investor_icon {
    float: left;
    margin-right: 10px;
    width: 24px;
}

span.investor-contact-address {
    float: left;
    width: 90%;
}

.investor_contact_card a {
    font: normal normal normal 16px/24px 'proxima_novaregular';
    letter-spacing: -0.48px;
    color: #FFFFFF;
    opacity: 0.95;
}

.investor_contact_card span.text-white.heading-6.sub_text_1 {
    font: normal normal normal 14px/24px 'proxima_novaregular';
    letter-spacing: -0.42px;
    color: #FFFFFF;
    opacity: 0.8;
}
.new-life .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.45em;
    color: #0a1e2e;
    font-weight: 600;
}
.new-life .modal-body p {
    font-size: 1.15em;
    font-weight: 600;
    color: #0a1e2e;
    height: 240px;
    overflow-y: scroll;
}
.new-life button.close span {
    font-size: 35px;
    font-weight: bolder;
}img.investor_icon {
    float: left;
    margin-right: 10px;
    width: 24px;
}

span.investor-contact-address {
    float: left;
    width: 90%;
}

.investor_contact_card a {
    font: normal normal normal 16px/24px 'proxima_novaregular';
    letter-spacing: -0.48px;
    color: #FFFFFF;
    opacity: 0.95;
}

.investor_contact_card span.text-white.heading-6.sub_text_1 {
    font: normal normal normal 14px/24px 'proxima_novaregular';
    letter-spacing: -0.42px;
    color: #FFFFFF;
    opacity: 0.8;
}
.new-life .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.45em;
    color: #0a1e2e;
    font-weight: 600;
}
.new-life .modal-body p {
    font-size: 1.15em;
    font-weight: 600;
    color: #0a1e2e;
    height: 240px;
    overflow-y: scroll;
}
.new-life button.close span {
    font-size: 35px;
    font-weight: bolder;
}img.investor_icon {
    float: left;
    margin-right: 10px;
    width: 24px;
}

span.investor-contact-address {
    float: left;
    width: 90%;
}

.investor_contact_card a {
    font: normal normal normal 16px/24px 'proxima_novaregular';
    letter-spacing: -0.48px;
    color: #FFFFFF;
    opacity: 0.95;
}

.investor_contact_card span.text-white.heading-6.sub_text_1 {
    font: normal normal normal 14px/24px 'proxima_novaregular';
    letter-spacing: -0.42px;
    color: #FFFFFF;
    opacity: 0.8;
}
.new-life .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.45em;
    color: #0a1e2e;
    font-weight: 600;
}
.new-life .modal-body p {
    font-size: 1.15em;
    font-weight: 600;
    color: #0a1e2e;
    height: 240px;
    overflow-y: scroll;
}
.new-life button.close span {
    font-size: 35px;
    font-weight: bolder;
}

/*07-02-23*/
.boxes-list .heading-4 , .podcast-box h4.heading-4
{
    font: normal normal 100 16px/34px 'proxima_novaregular';
    letter-spacing: -0.48px;
    /* color: #FFFFFF; */
    text-transform: capitalize;
    opacity: 0.5;
}
.latest-commentary-box h4.heading-4 {
    font: normal normal 100 16px/34px 'proxima_novaregular';
    letter-spacing: -0.48px;
    text-transform: capitalize;
    opacity: 0.5;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.report-custom-btn1 {
    position: absolute;
    top: 0;
    right: 0;
}
.report-custom-btn1 select#InsightsYear_Id {
    width: 160px;
    height: 45px;
    border-radius: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.report-custom-btn1 .dropdown-toggle:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    top: 37%;
    right: 22px;
}

.desktop-hide1{
    display: block;
}
.desktop-show1{
    display: none;
}
.code-of-conduct.grey-patch::after {
    background-color: #fff;
}

/*02.03.2023*/
.vision-mission-sec .hang-boxes{
    margin-bottom: 0;
}


.vision-mission-sec .heading-6{
    width: 100%;
    display: block;
    margin-bottom: 12px;
}

.yearDropDown-main .card.card-style-1 .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/**/
.CareEdgeeventgallery-sec .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .CareEdgeeventgallery-sec .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 2.5rem;
    width: 30em;
    border-radius: 0.5rem;
  }
  .CareEdgeeventgallery-sec .close-button {
    float: right;
    width: 1.5rem;
    font-size: 1.2em;
    line-height: 1;
    padding: 0 .2em .15em;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: var(--clr-neutral);
    color: var(--clr-dark);
    transition: color 0.12s ease-in-out;
  }
  .CareEdgeeventgallery-sec .close-button:hover {
    color: var(--clr-main);
  }
  .CareEdgeeventgallery-sec .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    display: block;
  }


  /**/
.design-vec-bg .alert{
    padding: 0 0;
}

.design-vec-bg .subscribe-form ul{
    margin: 12px 0;
}

footer .news-letter-subscribe .alert ul{
    margin:8px  0;
}

footer .news-letter-subscribe .alert{
    padding: 0;
}

/* .banner-caption a.btn.btn-primary.w-auto {
    position: absolute;
    bottom: 0;
} /* move button as per design 21/03/22*/

.swiper-3 .swiper-wrapper .swiper-slide:nth-child(odd){
    margin-top: 0 !important;
}

.swiper-3  .swiper-button-next, .swiper-3  .swiper-button-prev{
    background: #1c304c;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.swiper-3 .swiper-button-next:after,
.swiper-3 .swiper-button-prev:after{
    font-size: 15px;
    color: #fff;
}

.swiper-3 .swiper_nav_div{
    position: relative;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 140px;
    bottom:30px;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.swiper-3 .swiper-wrapper{
    padding-bottom: 100px;
}

.eventGallery-modal .modal.eventGal-popup.show{
    display: block;
    visibility: visible;
    opacity: 1;
}

.eventGallery-modal .modal.eventGal-popup .modal-dialog{
    /* max-width: 45%; */
    max-width: 30%;
}

.eventGallery-modal .modal.eventGal-popup .modal-content{
    width: 100%;
    padding: 0;
}

.eventGallery-modal .modal.eventGal-popup .modal-body{
    padding: 0;
}

.eventGallery-modal .modal.eventGal-popup .eventGal_modal_text{
    position: absolute;
    bottom: 0;
    padding: 15px 30px;
    background: rgba(28,43,54,.8);
}

.eventGallery-modal .modal.eventGal-popup .eventGal_modal_text p{
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
}

.eventGallery-modal .modal.eventGal-popup .modal-header{
    position: absolute;
    z-index: 11;
    border: 0;
    width: 100%;
    background: transparent;
    border-radius: 0;
}

.budget-sec .modal.budgetVid-popup .modal-dialog{
    max-width: 80%;
}

.budget-sec .modal.budgetVid-popup iframe{
    width: 100%;
    height: 790px;
}

.budget-sec .modal.budgetVid-popup .modal-body{
    padding: 0;
}

.budget-sec .modal.budgetVid-popup  .modal-header{
    background: #000;
    border: 0;
}

.budget-sec .modal.budgetVid-popup .modal-header .btn-close{
    font-size: 16px;
    top: 9px;
}

.budget-sec .modal.budgetVid-popup .modal-content{
    background: transparent;
}

.budget-sec .modal.budgetVid-popup{
    z-index: 1111111;
}

.CareEdgewebinars1-sec .card-body p{
    line-height: 45px;
}

/*09.03.2023 start here*/
.updatedClass-1 .cardContainer{
    position: relative;
}

.updatedClass-1 .cardContainer .slider-arrows{
    position: absolute;
    top: -82px;
}

.login-popup ul.parsley-errors-list{
    padding: 0;
    font-size: 14px;
}

p.print-details{
    font-size: 16px;
    color: #373737;
    font-family: gotham-bold;
    opacity: .7;
}
#renderHtmlOverviewCapabilitySectiondata ul li{
    line-height: 20px;
}
.rr-print-rating .mt-5.printRating-btns{
    margin-top: 2rem !important;
}

.faq_acc_php .accordion-body {
    letter-spacing: -0.54px;
    /*color: #ADB0B1;*/
    font-size: 1.125em;
    line-height: 1.5;
}

.recent-ratings-list ul li:hover {
    background: #17273E;
    transition: all .5s ease-in-out;
}

.CareEdgeeventgallery-sec{
    position: relative;
}

.eventGallery-modal .card-style-2 .heading-2{
    font-size: 20px;
}

.CareEdgeeventgallery-sec .btn{
    padding: 0;
}

.get-rated-sec .card-body .btn{
    width: 150px;
    height: 50px;
}
/*18.03.2023 start */
.vision-mission-sec .card.card-style-1{
    display: flex;
    justify-content: flex-end;
}
.updatedClass-1 .cardContainer .slider-arrows{
    right: 175px;
}
.capabilities-sec .accordian-style-1 .accordion-body p{
    color: #000;
}
.why-wok-new .activity-list li{
    align-items: center;
    padding: 0;
}

.updates-sec .card-style-2 .heading-2{
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 2px !important;
}

.updates-sec .card-style-2 p{
    margin-bottom:30px;
}

.eventGallery-modal .card-style-2 .heading-2{
    font-size: 20px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   line-height: 26px;
}

.regulatory-disclosure .accordian-style-1 .accordion-item .accordion-body p{
    margin: 0;
    margin-bottom: 9px;
}

.webinars1_sec_php .card-body .heading-2 p{
    font-size: 20px;
    line-height: 26px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.faq_acc_php .accordian-style-1.style-2 .accordion-body {
    width: 75%;
    margin: 0 0 0 26%;
    padding-left: 0;
}
.accordian-style-1.accordion .accordion-body p {
    color: #000;
}

.commentry_php .card-body .heading-2 p{
    font-size: 20px;
    line-height: 26px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.webinars1_sec_php .left-space-sldier{
    padding-left: 4%;
}

.eventGallery-modal .left-space-sldier{
    padding-left: 4%;
}

.CareEdgeeventgallery-sec.eventGallery-modal .container-fluid#renderHtmlEventsGallerySectiondata{
    padding-right: 0;
}

.commentry_php  .left-space-sldier{
    padding-left: 4%;
}

.commentry_php .container-fluid#renderHtmlCommentarySectiondata{
    padding-right: 0;
}

.podcasts1-sec-v1 .left-space-sldier{
    padding-left: 4%;
}

.left-space-sldier .slick-slide {
    margin-right: 50px;
}

ul.parsley-errors-list{
    padding-left:0;
}
#parsley-id-27.parsley-errors-list{
    position:inherit;
    bottom:inherit;
    left:inherit
}
.login-popup .form-style-1 .form-control, .login-popup .form-style-1 .form-select{
    margin-bottom:10px
}
.toggle-password{
    bottom:inherit;
    top:50px;
}

.reports-sec .report-custom-btn1 {
    position: inherit;    
}
.reports-sec .slider-arrows {
    margin-right: 10px;
}
.updatedClass-1 .Care-relase-slider .slick-track{
    margin:0;
}

.faq-tab-sec.new-life .swiper_nav_div, .faq-tab-sec.new-life .swiper-pagination {
    position:relative;
    display:none;
}

.quick-links.quick-links-new ul.quick-links-ul-main{
    max-width:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

ul.quick-links-ul-main li.sub-links-border a{
    border-bottom: 1px solid #778394;
    padding-bottom: 10px;
}
.reports-sec.padding-100 {
    padding-bottom:150px;
}
.this-m-help .slider-arrows, .grey-patch .slider-arrows{
    margin-right:0;
}

.arrow-relative-parent{
    position:relative;
}

.arrow-relative-parent .slider-arrows{
    margin-right: 10px;
}

.arrow-relative-parent .heading-1{
    margin:0;
}

.arrow-relative-parent .slick-list.draggable .slick-track{
    margin:0 !important;
}

.arrow-relative-parent .report-sec-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 1566px){
    .budget-sec .video-box {
        height: 590px;
    }
}
@media (max-width: 1366px){ 
    .reports-sec p.heading-3,
    .rating-list-iner-idbi .heading-3 {
        font-size: 14px;
    }
    .career-work.why-wok-new .activity-list li{
        min-height: 125px;
    }

    .career-work.why-wok-new .activity-list {
        padding: 0% 0%;
    }

    .faq-tab-sec.padding-150{
        padding: 95px;
    }

    .new-life .speak-slider .border-bottom {
        padding: 28px 28px 15px;
    }

    .new-life .speak-slider .card-content1 {
        padding: 28px;
    }

    .new-life .speak-slider .card{
        min-height: 355px;
    }
}
@media (max-width: 1280px){
    
    .reports-sec.padding-100{
        padding-bottom: 100px;
    }
    .reports-sec .slick-dots{
        display:none !important;
    }
    
    .inner-banner .breadcrumb li, .inner-banner .breadcrumb-item+.breadcrumb-item::before {
        font-size: 12px;
    }

    .inner-banner .banner_captions .heading-2 {
        font-size: 20px;
    }

    .search-input {
        padding: 10px 60px;
    }

    .inner-banner .banner_captions .heading-1, .jumbotron .heading-1{
        font-size: 45px;
    }

    hr.style-2 {
        margin: 60px 0 60px;
    }

    .subscribe-form, .get-high {
        margin-top: 0 !important;
    }

    .subscribe-form .heading-2 {
        margin: 10px 0 !important;
    }

    #renderHtmlFindRatinghelpSectiondata .slider-arrows {
        margin-right: 0;
    }

    .contact-details-auth-pers .heading-5 {
        line-height: 1.5;
    }

    

    .investors-page .podcast-box, .investors-page .latest-commentary-box {
        max-height: 450px;
        min-height: 450px;
    }

    .webinars1-sec .card-style-2 .heading-2{
        font-size: 18px;
    }

    .contact-details-list a{
        font-size: 14px;
    }
    .padding-100.updates-sec{
        padding-bottom: 100px;
    }
    
    .vide_playbtn {
        width: 60px;
        height: 60px;
    }
    .vide_playbtn.small a span {
        border-left: 12px solid #fff;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
    .CareEdgeeventgallery-sec .left-space-sldier {   
        padding-left: 5%;
    }
    .Commentary-sec.padding-100 .card-style-2 .heading-2{
        font-size: 18px;
    }

    .podcasts1-sec.podcasts1-sec-v1 .card-style-2 .heading-2{
        font-size: 18px;
    }

    .updates-sec .float-right {
        margin-right: 0 !important;
    }

    .yearDropDown-main.arrow-relative-parent .yearToggle {
        margin-bottom: 22px;
    }

    .arrow-relative-parent .slider-arrows{
        top: 42px;
    }
}
@media (max-width: 1024px){
    
}

@media (max-width: 991px){
    

    

    .capabilities-sec .accordion-item p img{
        width:100%;
    }

    .why-work-img-sec .w-40 {
        width:100%;
    }

    #faq-tab .btn {
        font-size:12px;
    }

    .arrow-relative-parent .slider-arrows{
        top: 143px;
        right: 39%;
    }

    .arrow-relative-parent .heading-1{
        margin-bottom:15px;
        text-align:center;
    }

    .arrow-relative-parent .custom-dropdown {
        width: 100%;
    }

    .arrow-relative-parent .yearToggle{
        margin:0 auto !important;
    }
    

    .arrow-relative-parent .report-sec-head{
        flex-direction:column;
    }

    .commons-sliderInsights{
        margin-top:50px;
    }

    .arrow-relative-parent.reports-sec  .slider-arrows {
        top: 29%;
        right: 39%;
    }

    .arrow-relative-parent.reports-sec .heading-1{
        margin-bottom:15px !important;
    }
}
.capabilities-sec.regulatory-disclosure{
    padding-bottom: 5%;
}
.slick-dot-none .slick-dots {
    display: none !important;
}
.slick-dot-none .slick-dotted.slick-slider {
    margin-bottom: 0;
}
#printthearea .table.table-style-1 tr th, 
#renderBankserviceData .table.table-style-1 tr th {
    padding: 20px !important;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
}
#printthearea .table.table-style-1 thead tr,
#renderBankserviceData .table.table-style-1 thead tr{
    background: #1c304c;
}
.dividentPage .slick-track{
    margin-left: 0;
}
#msform .parsley-required {
    text-align: left;
}
#category_Id {
    min-width: 260px;
}
.coverages-slider .card.card-style-1 .card-body {
    flex: auto;
}
.coverage-title .primary {
    color:var(--primary_color);
}
.card-style-2 span, .card-style-2 p {
    color: #0A1E2E;
}
.coverages-slider .slick-dots {
    display: none !important;
}
.coveragesHeading{
    display: flex;
    flex-grow: 2;
    align-items: self-end;
}
.yearDropDown-main .form-control{
    font-size: 1.2rem;
}
hr.style-2.coverageHr {
    margin: 30px 0 10px;
}
p{
	text-align:justify;
}

.content-scroll{
height:252px;
overflow:auto;
padding-right:23px;
}

.height-f{
	height:317px;
	overflow-y:auto;
	padding:10px;
	line-height:1.5;
}